<div>
	<h2><%= @marketplace.title %></h2>
	<div>
		<table border='1' style="width:100%">
			<tr>
				<th>#</th>
				<th>Move ID</th>
				<th>Move Name</th>
				<th>Trainer Name</th>
				<th>Category</th>
				<th>Views</th>
				<th>Actions</th>
			</tr>
			<% if @marketplace.moves.present? %>
				<%@marketplace.moves.each_with_index do |move, index|%>
					<tr>
						<td><%=index + 1%></td>
						<td><%=move.id%></td>
						<td><%=move.title%></td>
						<td><%=move.user.fullname%></td>
						<td><%=move.category%></td>
						<td><%=move%></td>
						<td>Delet From List | View</td>
					</tr>
				<%end%>
			<% else %>
				<tr colspan='6'>
					No Active list is available
				</tr>
			<% end %>
		</table>
		<%= link_to 'Delete List', 'javascript:void(0)', class: "btn btn-primary"%>
	</div>
</div>