<div>
	<h2><%= @marketplace.title %></h2>
	<span style="float: right;">
		<%= link_to "Go to list page", admin_marketplaces_path %>
	</span>
	<div>
		<table class="table table-bordered table-striped">
			<tr>
				<th>#</th>
				<th>Move ID</th>
				<th>Move Name</th>
				<th>Trainer Name</th>
				<th>Category</th>
				<th>Views</th>
				<th>Actions</th>
			</tr>
			<% if @marketplace.moves.present? %>
				<%@marketplace.moves.each_with_index do |move, index|%>
					<tr>
						<td><%=index + 1%></td>
						<td><%=move.id%></td>
						<td><%=move.title%></td>
						<td><%=move.user.fullname%></td>
						<td><%=move.category%></td>
						<td><%=move.views_count%></td>
						<td><%= link_to "Delete From List", delete_move_in_list_admin_marketplaces_path(move_id: move.id, market_id: @marketplace.id) %> | <%= link_to "View", discover_details_path(move) %></td>
					</tr>
				<%end%>
			<% else %>
				<tr>
					<td colspan='6'>
						No Active list is available
					</td>
				</tr>
			<% end %>
		</table>
		<%= link_to 'Delete List', delete_list_admin_marketplaces_path(list_id: @marketplace.id) , class: "btn btn-primary"%>
	</div>
</div>