<%= render 'marketplace_tabs' %>
<div>
	<div class="col-md-12">
		<table class="table table-bordered table-striped">
			<tr>
				<th>Move ID</th>
				<th>Move Name</th>
				<th>Trainer Name</th>
				<th>Category</th>
				<th>Lists</th>
				<th>Actions</th>
			</tr>
			<% if @moves_list.present? %>
				<% @moves_list.each do |move|%>
					<tr>
						<td><%= move.id %></td>
						<td><%= move.title %></td>
						<td><%= move.user.fullname %></td>
						<td><%= move.category %></td>
						<td><%=move.market_place_list%></td>
						<td><%= link_to "Add to list", 'javascript:void(0)', class: "marketplace_move", data_attr: "#{move.id}"%></td>
					</tr>
				<% end %>
			<% else %>
				<tr colspan='6'>
					No Active list is available
				</tr>
			<% end %>
		</table>
	</div>
</div>

<%= render "marketplace_moves_list_popup" %>
<script>
  $('.discover_li').removeClass('active');
  $('.discover_li.moves').addClass('active');
</script>
