  <div class="dash_left">
  <div class="dorian_col">
    <% if current_user.pic.present? %>
      <img src="<%=current_user.pic.url(:medium)%>" width="201" height="201" alt="chase_large_img" />
    <% else %>
      <img src="/assets/profile_img.jpg" width="201" height="201" alt="chase_large_img" />
    <% end %>   
  <h5><%=current_user.fullname %></h5>
        <!-- <h6>@dorian</h6> -->
  </div>
  <div class="profile_col">
  		<h4>Profile Setup</h4>
  		<ul>
        	<li><a href="#"><span class="no_tick"></span>Basic Info</a></li>
            <li><a href="<%=marketplace_settings_path%>"><span class="no_2"></span>Marketplace Profile</a></li>
            <li><a href="#"><span class="no_3"></span>Billing & Payment</a></li>
            <li><a href="#"><span class="no_4"></span>Preferences</a></li>
        </ul>
  </div>

  <div class="profile_col">
  		<h4>Quick Links</h4>
  		<ul>
        	<li><%=link_to "Add New Excercises", new_library_path%></li>
            <li><%=link_to "Workout Builder", new_workout_path%></li>
            <li><%=link_to "My Published Content", "javascript:void(0)"%></li>
            <li><%=link_to "Account Settings", settings_path%></li>
            <li><%=link_to "Tips & Tricks", "javascript:void(0)"%></li>
      </ul>
  </div>
</div>