<div class="workout_block_options" id="catalog">
    <ul class="block-option-ul new_block">
        <%Block::BLOCK_TYPE.each_with_index do |block, index|%>
            <%if index < 3%>
                <li id="dragable_block_<%=index%>" data-dragable-type="block" data-block-name="<%=Block::BLOCK_TYPE[index]%>">
                    <%=block.humanize%>
                </li>
            <%end%>
        <%end%>
    </ul>
</div>

<div class="block block_options_html circuit_block">
    <li class="main_container cir_super_blk" data-blck='circuit'>
        <div>
            <span class="first">Circuit</span>
            <span class="setting_icon"><img src="/assets/setting.jpg" class="img_icon" style="margin-top:0px;" data-toggle="popover" data-placement="left">
                <%= render "block_popover" %>
            </img></span>
            <ul class="add_photo drag_lib wrk_block testt" data-block="block" data-block-name="circuit">
                <li class="first"></li>
            </ul>
        </div>
    </li>
</div>

<div class="block block_options_html superset_block">
    <li class="main_container cir_super_blk" data-blck='superset'>
        <div>
            <span class="first">Superset</span>
            <span class="setting_icon"><img src="/assets/setting.jpg" class="img_icon" style="margin-top:0px;" data-toggle="popover" data-placement="left">
                <%= render "water_block_popover" %>
            </img></span>
            <ul class="add_photo drag_lib wrk_block testt" data-block="block" data-block-name="superset">
                <li class="first"></li>
            </ul>
        </div>
    </li>
</div>
<div class="block block_options_html water_break_block">
    <li class="water_block">
        <div class="water_hr">
        </div>
        <div class="water_head">water break
            <img src="/assets/setting.jpg" class="img_icon" style="margin-top:0px;" data-toggle="popover" data-placement="left">
                <%= render "water_block_popover" %>
            </img>
        </div>
    </li>
</div>

<div class="block_options_html individual_block">
    <li class="single_move main_container load_lib_detail" data-blck='individual'>
        <div class="single_div"></div>
    </li>
</div>

<div class="block_options_html block_inner_move">
    <li class="others load_lib_detail">
    </li>
</div>
