  <% @workouts.each_with_index do |workout, index|%>
    <p><%=workout.title%></p>
      <% workout.blocks.each do |block| %>
        <p><%=block.name%></p>
        <ul>
          <%block.libraries.each do |lib|%>
          	<% if lib.library_video.image.present? %>
              <li><a href="<%= workout_path(workout) %>"><img src="<%= lib.library_video.image %>" width="231" height="130" alt="cn_1" /></a>
                <h6><%= lib.title %></h6>
                 <p><%= lib.created_at.strftime("%B %d,%Y") %></p>
              </li>
            <% else %>
              <li><a href="<%= workout_path(workout) %>"><img src="/assets/ex_1.png" width="231" height="130" alt="cn_1" /></a>
                <h6><%= lib.title %></h6>
                 <p><%= lib.created_at.strftime("%B %d,%Y") %></p>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    <% end %>