<div class="move_detail">Move Details</div>
<div style="color:red;">
    <% if @lib_detail.errors.full_messages.any? %>
      <ul>
      <% @lib_detail.errors.full_messages.each do |error_message| %>
        <%= error_message %>
      <% end %>
      </ul>
    <% end %>
</div>
<div class="red_txt success"></div>
<%= simple_form_for(@lib_detail, url: "/workouts/save_lib_details", remote: true, :defaults => {:required => false}) do |ld| %>
<%=hidden_field_tag :lib_detail_id, @lib_detail.id%>

<%disabled = is_disabled(@lib_detail)%>
<%temp_disabled = is_tempo(@lib_detail)%>
<%dur_disabled = is_duration(@lib_detail)%>
<%dist_disabled = is_distance(@lib_detail)%>
<%weight_disabled = is_weight(@lib_detail)%>
<div class="gray_1">
	<div class="check_col">
        <%=ld.input :repetitions, input_html: {class: "lib_detail_chk"} %>
    </div>
    <div class="check_desc">
     <div class="fancy_select">
        <%= ld.input :rep_option, collection: LibraryDetail::REP_TYPE, include_blank: false, label: false,   input_html: {class: "lib_detail_sel", disabled: disabled} %>
    </div>
    <div class="min_max_col">
    	<%=render "rep_options", disabled: disabled, ld: ld%>
    </div>
    </div>
</div>
<div class="gray_1">
	<div class="check_col">
        <%=ld.input :weight, :input_html => { class: "lib_detail_chk" }%>
    </div>
    <div class="check_desc">
    <div class="min_max_col mt">
        <div class="min_col min_col_1 lib_detail_inp" >
            <%= ld.input :weight_val, label: false, input_html: {class: "", min: 1, max: 100}, disabled: weight_disabled %>
            <label>Kilograms</label>
        </div>
    </div>
    </div>
    
</div>
<div class="gray_1">
	<div class="check_col">
        <%=ld.input :distance, label: false, :input_html => { class: "lib_detail_chk" }%>
        <label>Distance</label>
    </div>
    <div class="check_desc">
    <div class="min_max_col mt">
        <div class="min_col min_col_1 lib_detail_inp" >
            <%= ld.input :dist_val, label: false, input_html: {class: "", min: 1, max: 100}, disabled: dist_disabled %>
            <label></label>
        </div>
        <div class="fancy_select wd50">
            <%= ld.input :dist_option, collection: LibraryDetail::DIST_OPT, include_blank: false, label: false,   input_html: {class: "lib_detail_sel", disabled: dist_disabled} %>
        </div>
    </div>
    </div>
    
</div>
<div class="gray_1">
	<div class="check_col">
        <%=ld.input :duration, :input_html => { class: "lib_detail_chk" }%>
    </div>
    <div class="check_desc">
    <div class="min_max_col mt">
    	<div class="min_col min_col_1 lib_detail_inp" >
        	<%= ld.input :minute, label: false, input_html: {class: "", min: 1, max: 90, disabled: dur_disabled} %>
            <label>Minutes</label>
        </div>
        <div class="min_col min_col_1 lib_detail_inp">
            <%= ld.input :second, label: false, input_html: {class: "", min: 1, max: 55, disabled: dur_disabled} %>
            <label>Seconds</label>
        </div>
    </div>
    </div>
</div>
<div class="gray_1">
	<div class="check_col">
        <%=ld.input :tempo, :input_html => { class: "lib_detail_chk" }%>
    </div>
    <div class="check_desc">
    <div class="min_max_col mt">
    	<div class="min_col min_col_1 lib_detail_inp">
        	<%= ld.input :temp_lower, label: false, input_html: {class: "min_max_select" , min: 0, max: 10, disabled: temp_disabled} %>
            <label>Lower</label>
        </div>
        <div class="min_col min_col_1 lib_detail_inp">
        	<%= ld.input :temp_pause, label: false, input_html: {class: "min_max_select", min: 0, max: 10, disabled: temp_disabled} %>
            <label>Pause</label>
            
        </div>
        <div class="min_col min_col_1 min_m lib_detail_inp">
        	<%= ld.input :temp_lift, label: false, input_html: {class: "min_max_select", min: 0, max: 10, disabled: temp_disabled} %>
            <label>Lift</label>
        </div>
    </div>
    </div>
</div>
<% end %>