<div class="met_tab" id="block_<%= @block.id %>" ondrop="drag_drop(event, <%= @block.id %>)" ondragover="return false">
    <div class="met_tab_col">
    	<div class="met_head">
        	<div class="tab_arrow">
       	    <img src="/assets/tab_arrow.jpg" width="17" height="13" alt="tab_arrow" />
             </div>
             <div class="head_rght">
             <h4><%= @block.name %></h4>
             <p><span class="b<%= @block.id %>">0</span> moves // <%= @block.workout_type.capitalize%> repeat: <%= @block.name_type %></p>
             </div>
        </div>

        <!-- <div class="met_tab_desc" id="b<%= @block.id %>"> -->
        <div class="met_tab_desc">
            <%=hidden_field_tag "block_id", @block.id %>
        	<ul>
            	<li>
                    Drag Here Libraries
                </li>
            </ul>
        </div>
    </div>
</div>