<div class="met_tab" id="block_<%= @block.id %>" ondrop="drag_drop(event, <%= @block.id %>)" ondragover="return false">
  <%if !@display.blank? %>
      <img src="/assets/add_photo.jpg" alt="add_photo" height="259" width="590" class="drag_img">
  <%end%>
  <div class="met_tab_col water_mat_tab <%=@display%> workout-block-item">
    <hr class="water_hr">
    <div class="water_head">
      <div class="head_rght">
        <h4 id="block_type_h4_<%= @block.id %>" style="float:left;color:white;"><%= Block::BLOCK_TYPE[2] %></h4>
        <span>
          <img src="/assets/setting.jpg" class="img_icon" data-toggle="popover" data-placement="left">
            <%= render "water_block_popover" %>
          </img>
        </span>
      </div>
    </div>
</div>
<script>
    $( ".sortable" ).sortable({
    stop: function( event, ui ) {sort_lis($(ui.item));}
  });

  $(function () { 
      $("[data-toggle='popover']").popover({
        html:true,
        title: function () {
        return $(this).parent().find('.head').html();
      },
      content: function () {
        return $(this).parent().find('.block-pop-content').html();
      }
      });
    });
  
</script>