<%if @workout.new_record?%>
	<%= simple_form_for @workout, :url => workouts_path, :html => {:method =>"post", id: "workout_form_auto"}, :remote => true do |f| %>
		<h2 class="wrk_head" data-name="name" data-val="">Workout Title</h2>
		<p class="wrk_subhead" data-name="subtitle" data-val="">Workout Subtitle</p>
	<%end%>
<%else%>
	<%= simple_form_for @workout, :url => workout_path(@workout), :html => {:method => "put", id: "workout_form_auto"}, :remote => true do |f| %>
		<%=hidden_field_tag :workid, @workout.id %>
		<h2 class="wrk_head" data-name="name" data-val="<%=@workout.name%>"><%=@workout.name%></h2>
		<p class="wrk_subhead" data-name="subtitle" data-val="<%=@workout.subtitle%>"><%=@workout.subtitle.blank? ? "Subtitle" : @workout.subtitle%></p>
	<%end%>
<%end%>