<%=render "workout_head"%>
<div class="middle_wrapper">
	<div class="workout_col">
    	<%= render "workout_left_menu" %>
        <div class="workout_col_mid">
        	<div class="col_1">
            	<h2 class="wrk_head">New Workout</h2>
              <p class="wrk_subhead">Workout Subtitle</p>
            </div>
            <%=form_tag("/workouts/save_blocks", method: "post", id: "new_workout_form") do |bl|%>
              <div class="add_photo drag_lib">
              <%=hidden_field_tag :workout_id %>
                
              </div>
              <div class="hidden_field_workout">
              </div>
            <%end%>
        </div>
        <%= render "workout_right_menu" %>
    </div>
</div>
<%=render "block_type_modal"%>

<script>

</script>
