<%=render "workout_head"%>
<div id="workout-builder-app" class="middle_wrapper autoheight">
  <%= render "left_portion" %>

    <div class="workout_col_mid autoheight">
    	<div class="col_1" id="workout_auto_form">
        <%= render "workout_auto_form" %>
      </div>
      <%=form_tag("/builder/save_blocks", method: "post", id: "new_workout_form") do |bl|%>
        <div class="add_photo drag_lib">
          <%=hidden_field_tag :workout_id %>
          <%= render "sub_blocks" %>
        </div>
        <div class="hidden_field_workout">
        </div>
      <%end%>
    </div>
  <%= render "workout_right_menu" %>
</div>
<%= render "block_type_modal" %>


<script type="text/javascript">
  $(document).ready(function(){
    var setElementHeight = function () {
      var height = $(window).height();
      var topbarHeight = $('.topbar').outerHeight();
      var controlBarHeight = $('.control_bar').outerHeight();
      var buttonHeaderHeight = $('.details_page_header.workout-builder').outerHeight();
      var offsetHeight = height + topbarHeight + controlBarHeight;

      $('.autoheight').css({'height': (height - buttonHeaderHeight)+'px'})
    };

    $(window).on('resize', function () {
      setElementHeight();
    }).resize();
  });
</script>