<%= render "workout_builder_header" %>
<div id="workout-builder-app" class="builder autoheight">
    <div class="column split-left">
        <div class="column-wrap autoheight">
            <%= render "library_moves_panel" %>
            <%= render "move_details_panel" %>
        </div>
    </div>

    <div class="column split-right">
        <div class="column-wrap autoheight">

            <div id="workout-blocks">
                <%= render "workout_blocks_section" %>
                <%= render "workouts/builder_blocks/block_templates" %>
            </div>

            <div id="workout-editor">
                <%= form_tag("/builder/save_blocks", method: "post", id: "new_workout_form") do |bl| %>
                    <%=hidden_field_tag :workout_id %>

                    <ul class="workout-list add_photo main_drop_block" data-block="main">
                        <!--div class="blank-workout-placeholder"></div-->
                        <%#= render "sub_blocks" %>
                    </ul>
                <% end %>
            </div>

        </div>
    </div>
</div>

<%= render "workouts/builderscripts/calculate_builder_dimensions" %>
