<%= render "workout_builder_header" %>

<div id="workout-builder-app" class="builder autoheight">

    <div class="column split-left">
        <div class="column-wrap autoheight">
            <%= render "library_moves_panel" %>
            <%= render "move_details_panel" %>
        </div>
    </div>

    <div class="column split-right">
        <div class="column-wrap autoheight">

            <div class="col_1" id="workout_auto_form">
                <%#= render "workout_auto_form" %>
            </div>

            <div class="workout-blocks">
                <% Block::BLOCK_TYPE.each_with_index do |block, index| %>
                    <% if index < 3 %>
                        <span draggable="true" ondragstart="drag_start(event)" id="dragable_block_<%=index%>" data-dragable-type="Block" data-block-name="<%=Block::BLOCK_TYPE[index]%>">
                            <%= block.humanize %>
                        </span>
                    <% end %>
                <% end %>
            </div>


            <div class="workout-preview">
                <div class="builder-dropzone">
                    <%=form_tag("/builder/save_blocks", method: "post", id: "new_workout_form") do |bl|%>

                        <div class="add_photo drag_lib" id="workout_container">
                            <%=hidden_field_tag :workout_id %>
                            <%= render "sub_blocks" %>
                        </div>

                        <div class="hidden_field_workout"></div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

</div>




<%= render :partial => "workouts/builderscripts/calculate_builder_dimensions" %>