<%= render "workout_builder_header" %>

<div id="workout-builder-app" class="builder autoheight">

    <div class="column split-left">
        <div class="column-wrap autoheight">
            <%= render "library_moves_panel" %>
            <%= render "move_details_panel" %>
        </div>
    </div>

    <div class="column split-right">
        <div class="column-wrap autoheight">

            <div class="col_1" id="workout_auto_form">
                <%= render "workout_auto_form" %>
            </div>

            <div class="workout-preview">
                <%=render "block_options"%>
                <div class="builder-dropzone">
                    <%=form_tag("/builder/save_blocks", method: "post", id: "new_workout_form") do |bl|%>

                        <div class="add_photo drag_lib" id="workout_container">
                            <%=hidden_field_tag :workout_id %>
                            <ol class="simple_with_drop vertical">
                                <%= render "sub_blocks" %>
                            </ol>
                        </div>

                        <div class="hidden_field_workout"></div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

</div>

<%= render "workout_circuit" %>



<%#= render "block_type_modal" %>
<%= render :partial => "workouts/builderscripts/calculate_builder_dimensions" %>

<script type="text/javascript">

    $("ol.simple_with_drop").sortable({
      group: 'no-drop',
      handle: '.li_block',
      onDragStart: function (item, container, _super) {
        // Duplicate items of the no drop area
        if(!container.options.drop)
          item.clone().insertAfter(item)
        _super(item)
      },
      isValidTarget: function  (item, container) {
        if(item.is(".li_block"))
          return true
        else {
          return item.parent("ol")[0] == container.el[0]
        }
        }
    })
</script>