
<%= render "workout_builder_header" %>
<div id="workout-builder-app" class="builder autoheight">

    <div class="column split-left">
        <div class="column-wrap autoheight">

            <%= render "library_moves_panel" %>
            <%= render "move_details_panel" %>
        </div>
    </div>

    <div class="column split-right">
        <div class="column-wrap autoheight">

            <div class="col_1" id="workout_auto_form">
                <%= render "workout_auto_form" %>
            </div>

            <div class="workout-blocks">
                <ol>
                <% Block::BLOCK_TYPE.each_with_index do |block, index| %>
                    <% if index < 3 %>
                    <li draggable="true" ondragstart="drag_start(event)" id="dragable_block_<%=index%>" data-dragable-type="Block" data-block-name="<%=Block::BLOCK_TYPE[index]%>">
                            <%= block.humanize %>
                        </li>
                    <% end %>
                <% end %>
            </div>


            <div class="workout-preview">
                <div class="builder-dropzone">
                    <%=form_tag("/builder/save_blocks", method: "post", id: "new_workout_form") do |bl|%>

                        <div class="add_photo drag_lib" id="workout_container" ondrop="drag_workout(event)" ondragover="return false">
                            <%=hidden_field_tag :workout_id %>
                            <ol class="simple_with_drop vertical">
                                <li>
                                  Item 2
                                </li><li class="">Item 3.3</li>
                                
                                <li>
                                  Item 4
                                  
                                </li>
                                <li>
                                  Item 5
                                </li>
                                <li>
                                  Item 6
                                </li>
                            </ol>
                        </div>

                        <div class="hidden_field_workout"></div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

</div>




<script type="text/javascript">

    $("ol.simple_with_drop").sortable({
      group: 'no-drop',
      handle: '.li_block',
      onDragStart: function (item, container, _super) {
        // Duplicate items of the no drop area
        if(!container.options.drop)
          item.clone().insertAfter(item)
        _super(item)
      },
      isValidTarget: function  (item, container) {
        if(item.is(".li_block"))
          return true
        else {
          return item.parent("ol")[0] == container.el[0]
        }
        }
    })
    // var oldContainer
    // $("ol.nested_with_switch").sortable({
    //   onMove: function (placeholder, container) {
    //     if(oldContainer != container){
    //       if(oldContainer)
    //         oldContainer.el.removeClass("active")
    //       container.el.addClass("active")
          
    //       oldContainer = container
    //     }
    //   },
    //   onDrop: function (item, container, _super) {
    //     container.el.removeClass("active")
    //     _super(item)
    //   }
    // })


    // $("ol.simple_with_no_drop").sortable({
    //   group: 'no-drop',
    //   drop: false
    // })
    // $("ol.simple_with_no_drag").sortable({
    //   group: 'no-drop',
    //   drag: false
    // })
$(function () { 
      $("[data-toggle='popover']").popover({
        html:true,
        title: function () {
        return $(this).parent().find('.head').html();
      },
      content: function () {
        return $(this).parent().find('.content').html();
      }
      });
    });
</script>