<div class="create_heading">
    <div class="lib_image_box"><img src="<%= @workouts.pic.present? ? @workouts.pic.url(:thumb) : '/assets/ex_2.jpg' %>" />
    </div>
    <div class="lib_text_box">
      <h4><%= @workouts.name.titleize%></h4>
      <p><img src="<%= status_icon(@workouts.status)%>" /><%= @workouts.status %></p>
    </div>
</div>

<div class="libray_detail wht_bg">
  <div class="lib_img_coll">
    <span class="show_img_on_scol">
      <div class="lib_image_box">
        <img src="<%= @workouts.pic.present? ? @workouts.pic.url(:thumb) : '/assets/ex_2.jpg' %>" />
      </div>
      <div class="lib_text_box">
        <h4><%= @workouts.name.titleize%></h4>
      </div>
    </span>
    <div class="rght_btns">
      <a href="javascript:void(0)" class="cancel_btn rht_active edit_work" lib-status="save">Save</a>
      <a href="javascript:void(0)" class="cancel_btn rht_active edit_work" lib-status="<%= Library::STATUS[1] %>">Submit with review</a>
    </div>
  </div>

  <%= simple_nested_form_for(@workouts, url: (workout_path(@workouts)), html: {id: 'edit_workout_info'}) do |lib| %>
    <div class="exer_rht_col">
      <div style="color:red;">
        <% if @workouts.errors.full_messages.any? %>
          <ul>
            <% @workouts.errors.full_messages.each do |error_message| %>
              <li><%= error_message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <%= hidden_field_tag :status_change, "", class: "workout_status" %>
      <div class="lib_des_lft">
        <div class="exr_field_col">
          <label>Title</label>
          <%= lib.text_field :name %>
        </div>
        <div class="exr_field_col">
          <label>Subtitle</label>
          <%= lib.text_field :subtitle %>
        </div>
        <div class="exr_field_col">
          <label>Category</label>
          <%= lib.select :category, Library::CATEGORIES, prompt: "Select Category" %>
        </div>
      </div>
      <div class="lib_des_rht">
          <div class="exr_field_col">
            <label>Discription</label>
            <%= lib.text_area :description %>
          </div>
      </div>
    </div>
    <hr>
    <div class="exer_lft_col">
      <h4>Workout Media</h4>
      <div class="big_video_col">
         <h5>Cover Image</h5>
         <p>For best results, your image should be square and atleast 500px by 500px</p>
            <%= lib.file_field :pic %>
      </div>
  <% end %>
</div>
<div class="lib_edit_botom">
  <h5>Remove Workout</h5>
  <p>Permanently remove the workout from xerofit. Proceed with caution, this action cann't be undone!</p>
  <%=link_to "Remove this Workout", workout_path(@workouts), :method => :delete, :confirm => "Are you sure ?", :class => "remove_video_btn"%>
</div>

  