<%show_if_admin = current_user.admin?%>
<%hide_if_admin = !current_user.admin?%>
<div class="create_heading">
  <div class="prev_lib_col">
    <%= link_to("< Fitness Library", libraries_path) %>
    <%= link_to("Workout Builder >", edit_workout_path(@workouts), :class => 'fr') if hide_if_admin%>
  </div>
    <div class="wrk_image_box">
      <img src="<%= @workouts.pic.present? ? @workouts.pic.url(:p_square) : '/assets/ex_1.png' %>" />
    </div>
    <div class="lib_text_box">
      <h4><%= @workouts.title.titleize%></h4>
      <p><img src="<%= status_icon(@workouts.status)%>" /><%= @workouts.status %></p>
    </div>
</div>
<div class="middle_wrapper">
<div class="libray_detail">
  <div class="lib_img_coll">
    <span class="show_img_on_scol">
      <div class="wrk_image_box_sm">
        <img src="<%= @workouts.pic.present? ? @workouts.pic.url(:square) : '/assets/ex_1.png' %>" />
      </div>
      <div class="lib_text_box">
        <h4><%= @workouts.title.titleize%></h4>
      </div>
    </span>
    <div class="rght_btns">
      <a href="javascript:void(0)" class="cancel_btn rht_active edit_work dis_link wrk_sve" lib-status="save">Save</a>
      <%if hide_if_admin%>
        <a href="javascript:void(0)" class="cancel_btn rht_active edit_work dis_link wrk_rvw" work-attr="<%= @work %>" lib-status="<%= Library::STATUS[1] %>">Submit for review</a>
      <%end%>
    </div>
  </div>

  <%= simple_nested_form_for(@workouts, url: (workout_path(@workouts)), html: {id: 'edit_workout_info'}) do |lib| %>
    <div class="exer_rht_col">
      <div class= "lib_move_title">
        Basic Workout Information
      </div>
      <div style="color:red;">
        <% if @workouts.errors.full_messages.any? %>
          <ul>
            <% @workouts.errors.full_messages.each do |error_message| %>
              <li><%= error_message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="lib_des_lft">
        <%if show_if_admin%>
          <%=render "common_templates/change_status", f: lib%>
        <%else%>
            <%= hidden_field_tag :status, "", class: "workout_status" %>
        <%end%>
        <div class="exr_field_col">
          <label>Title</label>
          <%= lib.text_field :title, class: "for_work_change", maxlength: "80" %>
          <span class="detail_char" data-size="80">80</span>
        </div>
        <div class="exr_field_col">
          <label>Subtitle</label>
          <%= lib.text_field :subtitle, class: "for_work_change", maxlength: "150" %>
          <span class="detail_char" data-size="150">150</span>
        </div>
        <div class="exr_field_col">
          <label>Category</label>
          <%= lib.select :category, Library::CATEGORIES, {prompt: "choose one"}, {class: "for_work_change workout_category"}%>
        </div>
      </div>
      <div class="lib_des_rht">
          <div class="exr_field_col">
            <label>Description</label>
            <%= lib.text_area :description, class: "for_work_change", maxlength: "450" %>
            <span class="detail_char" data-size="450">450</span>
          </div>
      </div>
    </div>
    <hr>
    <%if hide_if_admin%>
      <div class="exer_lft_col">
        <h4>Workout Media</h4>
        <div class="big_video_col">
           <h5>Cover Image</h5>
           <p>For best results, your image should be square and atleast 500px by 500px</p>
           <div class="upload_gry_box">
              <p>Upload your image</p>
              <%#= lib.file_field :pic %>
              <div class="custom-upload">
                    <%= lib.file_field :pic %>
                    <div class="fake-file">
                        <span class="choose_btn wrk_chos">Browse</span>
                        <input disabled="disabled">
                    </div>
                </div>
            </div>
        </div>
      </div>
    <%end%>
  <% end %>
</div>
<%#if hide_if_admin%>
  <div class="lib_edit_botom">
    <h5>Remove Workout</h5>
    <p>Permanently remove this workout from Xerofit. Proceed with caution, this action cannot be undone!</p>
    <%=link_to "Remove this Workout", workout_path(@workouts), :method => :delete, :confirm => "Are you sure ?", :class => "remove_video_btn"%>
  </div>
<%#end%>
</div>

<script>
  $(document).ready(function(){
    var v = $('.wrk_rvw').attr('work-attr');
    if(v == "true")
    {
      $('.wrk_rvw').removeClass('dis_link')
    }
    show_text_actual_size();
  });
  $('.admin_li').removeClass('active')
  $('.admin_li.workout').addClass('active');
</script>

  