<div class="col-md-8">
    <table class="table table-bordered table-striped">
      <tr>
        <th colspan="6" class="cent">Latest Registered</th>
      </tr>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date Registered</th>
        <th>Action</th>
      </tr>
      <% @user.each_with_index do |u, index|%>
      <tr>
        <td><%= u.id %></td>
        <td><%= u.email %></td>
        <td><%= u.first_name%></td>
        <td><%= u.last_name %></td>
        <td><%= u.created_at %></td>
        <td>
          <%=link_to "View", edit_admin_user_path(u)%>
        </td>
      </tr>
      <% end %>
      
    </table>
</div>
<!--div class="col-md-4">
  <table class="table table-bordered table-striped">
      <tr>
        <th colspan="2" class="cent">Statistics</th>
      </tr>
      <tr>
        <td>Admins</td>
        <td><%= @admin_count %></td>
      </tr>
      <tr>
        <td>Trainers</td>
        <td><%= @trainer_count %></td>
      </tr>
      <tr>
        <td>Normal Users</td>
        <td><%= @normaluser_count %></td>
      </tr>
      <tr>
        <td>Libraries</td>
        <td><%= @library_count %></td>
      </tr>
       <tr>
        <td>Workouts</td>
        <td><%= @workout_count %></td>
      </tr>
    </table>
</div-->

