<table class="table table-bordered table-striped">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Date Added</th>
    <th>Status</th>
    <th>User Email</th>
    <th>Actions</th>
  </tr>
  <% @moves.each do |move| %>
    <tr>
      <td><%=move.id%></td>
      <td><%=move.title%></td>
      <td><%=move.updated_at%></td>
      <td><%=move.status%></td>
      <td><%=move.user.email %></td>
      <td>
        <% if move.move_type == Move::TYPE[1] %>
        <%=link_to "View", workout_details_path(move, user: move.user.token)%> | 
        <%= link_to "Delete", admin_workout_path(move), method: :delete, data: { confirm: 'Are you sure?' }%>
        <% else %>
          <%=link_to "View", edit_path(move, user: move.user.token)%> | 
          <%= link_to "Delete", admin_move_path(move), method: :delete, data: { confirm: 'Are you sure?' }%>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>