<table class="table table-bordered table-striped">
      <tr>
        <th>ID</th>
        <th>User Email</th>
        <th>Date Added/Uploaded</th>
        <th>Download Video</th>
        <th>Mark Complete</th>
      </tr>
      <% @moves.each do |move| %>
        <tr>
          <td><%=move.id%></td>
          <td><%=move.user.email %></td>
          <td><%=move.updated_at%></td>
          <td><%=link_to "Download", "javascript:void(0)", class: "download_video", "data-url" => move.video.to_s, "rel"=>"nofollow"%></td>
          <td>
            <span class="mark_btn" data-id="<%=move.id%>">
              <%if move.mark_complete%>
                <%=check_box_tag 'mark_btn', '', true %>
              <%else%>
                <%=check_box_tag 'mark_btn', '', false%>
              <%end%>
            </span>
          </td>
        </tr>
      <% end %>
    </table>