<div class="login-page">
    <div class="login-wrap">
        <div class="login-head">
            <h2>Reset Password</h2>
            <p>No problem, just tell us the email you used to signup, and we can reset it for you. If you don't get an email from us in the next few minutes, try checking your spam folder.</p>
        </div>
        <div class="login-body">
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= f.error_notification %>
                <span class="error-messages">
                    <% resource.errors.full_messages.each do |object| %>
                        <%= object %></br>
                    <% end %>
                </span>

                <div class="input-field-wrap">
                    <label>Email:</label>
                    <%= f.input :email, label: false, required: true, autofocus: true %>
                </div>

                <%= f.button :submit, "Reset Password", { :class=>"login-btn" } %>
                <span class="btn-footnote">Remember it? <a href="<%= new_user_session_path %>">Back to login</a>.</span>
            <% end %>
        </div>
    </div>
</div>


