<div class="modal fade" id="approve_mail_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close_model" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Email Send Box</h4>
      </div>
    <%= form_tag('/admin/moves/admin_approve_workout_mail', remote: true, id: 'approve_popup') do |f| %>
      <div class="modal-body">
      <%= hidden_field_tag :id, '', class: "admin_umcut_mail" %>
    	<%= hidden_field_tag :type, '', class: "admin_move_type" %>
    	<label>Subject</label>
	    <%= text_field_tag :subject,"",class: "form-control input-wid usr_flter mail_subject" %>
    	<label>Message</label>
    	<%= text_area_tag :message,"",class: "form-control input-wid usr_flter ckeditor mail_message" %>
      </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-default close_model" data-dismiss="modal">Close</button>
	    <button type="button" class="btn btn-primary approve_mail">Send Email</button>
	      </div>
	<%end%>
    </div>
  </div>
</div>