<table class="table table-bordered table-striped">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Content Type</th>
    <th>Date Submitted for Approval</th>
    <th>Status</th>
    <th>User Email</th> 
    <th>Actions</th>
  </tr>
  <% @moves.each do |move| %>
    <tr>
      <td><%=move.id%></td>
      <td><%=move.title%></td>
      <td><%=move.move_type%></td>
      <td><%=move.date_submitted_for_approval%></td>
      <td><%=move.status%></td>
      <td><%=move.user.email %></td>
      <td>
        <!-- <%#=link_to "Edit", edit_admin_move_path(move)%> |  -->
        <%= link_to "Delete", admin_move_path(move), method: :delete, data: { confirm: 'Are you sure?' }%>
      </td>
    </tr>
  <% end %>
</table>