<%= form_tag(common_filter_admin_moves_path, remote: true, method: "get", id: "filter_user_form") do |f|%>
    <%= hidden_field_tag :action_name, action_name%>
    <%= hidden_field_tag :is_full_workout, is_full_workout%>
    <%= hidden_field_tag :sorted_by, ''%>
    <table class="table table-bordered table-striped">
      <tr>
        <th colspan="2">Filters</th>
      </tr>
      <tr>
        <th>Title</th>
        <td><%= text_field_tag :title,"",class: "form-control input-wid usr_flter" %></td>
      </tr>
      <%if action_name == "approval_page"%>
        <tr>
          <th>type</th>
          <td><%= select_tag :type, options_for_select(Move::TYPE), prompt: "Select Type", class: "form-control input-wid usr_flter" %></td>
        </tr>
        <%= hidden_field_tag :status, Move::STATUS[2]%>
      <%else%>
        <tr>
          <th>Status</th>
          <td><%= select_tag :status, options_for_select(Move::STATUS), prompt: "Select Status", class: "form-control input-wid usr_flter" %></td>
        </tr>
        <%= hidden_field_tag :type, model_type%>
      <%end%>
      <tr>
        <th colspan="2"><%= submit_tag "Search", class: "btn btn-primary submit_form" %></th>
      </tr>
    </table>
  <% end %>