<table class="table table-bordered table-striped">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Date Added</th>
    <th>Status</th>
    <th>User Email</th>
    <th>Actions</th>
  </tr>
  <% if @moves.present? %>
    <% @moves.each do |move| %>
      <tr>
        <td><%=move.id%></td>
        <td><%=move.title%></td>
        <td><%= move.user.time_zone.present? ? move.updated_at.in_time_zone(move.user.time_zone).strftime("%m/%d/%y %I:%M%P %Z") : move.updated_at.in_time_zone.strftime("%D %I:%M%P %Z")%></td>
        <td>
        <%=render "common_templates/change_status", move: move%>
        </td>
        <td><%=move.user.email %></td>
        <td>
            <%=link_to "View", edit_path(move, user: move.user.token)%> | <%=link_to "History", history_page_admin_moves_path(id: move, type: move.move_type)%> |
            <%= link_to "Trash", trash_admin_moves_path(id: move, type: move.move_type)%>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr><td colspan="6"> No Reocrd Found...</td></tr>
  <% end %>
</table>