<%= form_tag(uncut_filter_admin_moves_path, remote: true, method: "get", id: "admin_filter_form") do |f|%>
    <%= hidden_field_tag :action_name, action_name%>
    <table class="table table-bordered table-striped">
      <tr>
        <th colspan="2">Filters</th>
      </tr>
        <%= hidden_field_tag :sorted_by, 'updated_at'%>
        <%= hidden_field_tag :type, model_type%>
        <tr>
          <th>Email</th>
          <td><%= text_field_tag :email,"",class: "form-control input-wid usr_flter" %></td>
        </tr>
        <tr>
          <th>Mark</th>
          <td><%= select_tag :mark_complete, options_for_select([["Marked", true ],["Unmarked", false], ["Show all", '']]), prompt: "Select Mark ", class: "form-control input-wid usr_flter" %></td>
        </tr>
      <tr>
        <th colspan="2"><%= submit_tag "Search", class: "btn btn-primary submit_form" %></th>
      </tr>
    </table>
  <% end %>