<table class="table table-bordered table-striped">
      <tr>
        <th>ID</th>
        <th>User Email</th>
        <th>Date Trashed</th>
        <th>Actions</th>
      </tr>
      <% if users.present? %>
        <% users.each do |move| %>
          <tr>
            <td><%=move.id%></td>
            <td><%=move.email %></td>
            <td><%=move.updated_at%></td>
            <td>
              <%=link_to "Restore",  restore_admin_moves_path(id: move.id, data_param: "user")%> | 
              <%= link_to "Delete", admin_user_path(move), method: :delete, data: { confirm: 'Are you sure?' }%>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr><td colspan='4'> No Data Found...</td></tr>
      <% end %>
    </table>

