<% if @move.present? %>
    <ul>
        <% @move.each_with_index do |mov, index| %>
            <li class="<%= (mov.move_type!=Move::TYPE[2]) ? 'wdth_img' : ''%> <%= cycle("first_row border_left", "first_row", "first_row", "first_row border_right", "border_left", "", "", "border_right", "last_row border_left", "last_row", "last_row", "last_row border_right" )%>">
                <% if mov.move_type == Move::TYPE[2] %>
                    <a href="<%= params[:user].blank? ? workout_details_path(mov) : workout_details_path(mov, user: params[:user])%>" data-no-turbolink="true" class="grid_block workout">

                        <% if mov.pic.present? %>
                            <figure class="workout-img" style="background-image: url(<%= mov.pic.url %>);"></figure>
                        <% else %>
                            <figure class="workout-img" style="background-image: url(/assets/ex_1.png);"></figure>
                        <% end %>
                        <h6><%= mov.title %></h6>
                        <p class="block_status">
                            <img src="<%= status_icon(mov.status)%>" class="list_view_circle" />
                            <%= mov.status %>
                        </p>
                    </a>
                <% else %>
                    <a href="<%= params[:user].blank? ? edit_path(mov) :  edit_path(mov, user: params[:user])%>" data-no-turbolink="true" class="grid_block move">

                        <% if mov.check_thumbnail() %>
                            <figure class="move-img" style="background-image: url(<%= mov.library_video.image %>);"></figure>
                        <% else %>
                            <figure class="move-img" style="background-image: url(/assets/ex_2.png);"></figure>
                        <% end %>
                        <h6 title="<%= mov.title %>"><%= mov.title %></h6>
                        <p class="block_status">
                            <img src="<%= status_icon(mov.status)%>" class="list_view_circle" />
                            <%= mov.status %>
                        </p>
                    </a>
                <%end%>
            </li>
        <% end %>
    </ul>

<% else %>
    <div class="empty-library">
        <h3>Your Fitness Library is empty!</h3>
        <span>Click the blue plus icon to start adding content.</span>
    </div>
<% end %>

<%= paginate @move, remote: true %>
