<ul>
  <li><a href="/libraries/new"><img src="/assets/cn_1.jpg" width="231" height="130" alt="cn_1" />
    <h6>Create New Exercise</h6></a>
  </li>
  <% @libraries.each_with_index do |library, index| %>
  	<% if library.library_video.image.present? %>
    <li><a href="<%= edit_library_path(library) %>"><img src="<%= library.library_video.image %>" width="231" height="130" alt="cn_1" /></a>
      <h6><%= library.title %></h6>
       <p><%= library.created_at.strftime("%B %d,%Y") %></p>
    </li>
    <% else %>
    <li><a href="<%= edit_library_path(library) %>"><img src="/assets/ex_2.jpg" width="231" height="130" alt="cn_1" /></a>
      <h6><%= library.title %></h6>
       <p><%= library.created_at.strftime("%B %d,%Y") %></p>
    </li>
    <% end %>

  <% end %>
</ul>