<ul class="exer_list_view">
  <li>
    <span class="thumb_text">Name</span>
     <span>Type</span>
      <span>Status</span>
       <span>Last Modified</span>
  </li>
  <% @libraries.each_with_index do |library, index| %>
    <li>
      <span class="thumb_text">
        <% if library.library_video.image.present? %> 
          <a href="<%= edit_library_path(library) %>">
            <img src="<%= library.library_video.image %>" class="list_view_img" />
            <%= library.title %>
          </a>
        <% else %>
          <a href="<%= edit_library_path(library) %>">
            <img src="/assets/ex_2.jpg" class="list_view_img" />
            <%= library.title %>
          </a>
        <% end %>
      </span>
       <span>Single Move</span>
        <span>
          <img src="<%= status_icon(library.status)%>" class="list_view_circle" /> 
          <%= library.status %>
        </span>
        <span><%= library.updated_at.strftime("%B %d,%Y") %></span>
    </li>
  <%end%>
</ul>