<ul class="exer_list_view">
  <li>
    <span class="thumb_text">Name</span>
    <span>Type</span>
    <span>Status</span>
    <span>Last Modified</span>
  </li>
<% if @list.present? %>
    <% @list.each_with_index do |ls, index| %>
      <li>
        <span class="thumb_text">
          <% if ls.move_type == "workouts" %>
              <a href="<%= workout_details_workout_path(ls) %>">
                <% if ls.pic.present? %> 
                  <img src="<%= ls.pic.url(:thumb) %>" class="list_view_img" />
                <% else %>
                  <img src="/assets/ex_2.jpg" class="list_view_img" />
                <% end %>
                <%= ls.title %>
              </a>
          <% else %>
            <a href="<%= edit_library_path(ls) %>">
              <% if ls.library_video.image.present? %> 
                <img src="<%= ls.library_video.image %>" class="list_view_img" />
              <% else %>
                <img src="/assets/ex_2.jpg" class="list_view_img" />
              <% end %>
              <%= ls.title %>
            </a>
          <% end %>
        </span>
         <span><%=ls.move_type%></span>
          <span>
            <img src="<%= status_icon(ls.status)%>" class="list_view_circle" /> 
            <%= ls.status %>
          </span>
          <span><%= ls.updated_at.strftime("%B %d,%Y") %></span>
      </li>
    <%end%>
<% else %>
  <li><span> No Record Found...</span><li>
<% end %>
</ul>