<% if @list.present? %>
  <div class="col-sm-12">
    <ul class="library_list_view sortable_list">
      <li class="table_header">
        <span class="title_col column_sort" data-sort="title" data-order="DESC"><span>Name</span><div></div></span>
          <!--span class="name_sort column_sort descending" data-sort="title" data-order="DESC">Name</span>
          <span class="sort_icon">
            <i class="icon-sort zcolumn_sort" data-sort="title" data-order="ASC"></i>
            <i class="icon-sort_down zcolumn_sort" data-sort="title" data-order="DESC"></i>
          </span>
        </span-->
        <span class="type_col">Type</span>
        <span class="status_col">Status</span>

        <span class="date_col column_sort descending" data-sort="updated_at" data-order="DESC">Last Modified<div></div></span>
          <!--span class=" name_sort">Last Modified</span>
          <span class="sort_icon">
              <i class="icon-sort column_sort" data-sort="updated_at" data-order="ASC"></i>
              <i class="icon-sort_down column_sort" data-sort="updated_at" data-order="DESC"></i>
          </span-->
        </span>
      </li>

      <% @list.each_with_index do |ls, index| %>
        <li>
          <% if ls.move_type == "workouts" %>
            <a href="<%= workout_details_path(ls) %>" title="<%= ls.title %>" data-no-turbolink="true">
              <span class="title_col">
                <div>
                  <% if ls.pic.present? %>
                    <img src="<%= ls.pic.url(:thumb) %>" class='list_view_img wrk' />
                  <% else %>
                    <img src="/assets/ex_1.png" class="list_view_img wrk" />
                  <% end %>
                </div>
                <span><%= truncate(ls.title, :length => 35, :seperator => ' ...') %></span>
              </span>
          <% else %>
            <a href="<%= edit_path(ls) %>" title="<%= ls.title %>" data-no-turbolink="true">
              <span class="title_col">
                <div>
                  <% if ls.library_video.present? && ls.library_video.image.present? %>
                    <img src="<%= ls.library_video.image %>" class="list_view_img move" />
                  <% else %>
                    <img src="/assets/ex_2.png" class="list_view_img move" />
                  <% end %>
                </div>
                <span><%= truncate(ls.title, :length => 35, :seperator => ' ...') %></span>
              </span>
          <% end %>
            <span class="type_col"><%= ls.move_type.titleize.singularize %></span>
            <span class="status_col">
              <img src="<%= status_icon(ls.status)%>" class="list_view_circle" />
              <span><%= ls.status %></span>
            </span>
            <span class="date_col"><%= ls.updated_at.strftime("%B %d, %Y") %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <span> No Record Found...</span>
<% end %>

<script>
$(document).ready(function(){
  //sort_table_list();


});
</script>

<%= paginate @list, :remote => true %>