<%(0..@num).each do |num|%>
	<div class="exr_field_col del">
	  	<label><%= TargetMuscleGroup::MUSCLES_TYPE[num][0] %></label>
	  	<div class="drop_toggle">t</div>
	    <div class="fancy_select">
	    	<%= hidden_field_tag "library[target_muscle_groups_attributes][#{num}][target_muscle_group]", "", class: "target_muscle_menu" %>
    		<%= hidden_field_tag "library[target_muscle_groups_attributes][#{num}][sub_target_muscle_group]", "", class: "target_muscle_submenu" %>
	    	<ul>
	    		<%TargetMuscleGroup::MUSCLES_TYPE[num][1].each do |mus|%>
	    			<li class="sub_arw"><%=mus%>
	    				<ul data-group="<%=mus%>">
	    					<li data-subgroup="dfdF">dfdF</li>
	    					<li data-subgroup="dfdF">dfdF</li>
	    					<li data-subgroup="dfdF">dfdF</li>
	    				</ul>
	    			</li>
	    		<%end%>
	    	</ul>
	    	<%#=select_tag "library[target_muscle_groups_attributes][#{num}][target_muscle_group]", options_for_select(TargetMuscleGroup::MUSCLES_TYPE[num][1]), prompt: "Choose #{TargetMuscleGroup::MUSCLES_TYPE[num][0]}" %>

	    	<%#= hidden_field_tag "library[target_muscle_groups_attributes][#{num}][target_muscle_group]", "", class: "" %>
    		<%#= hidden_field_tag :sub_target_muscle_group, "", class: "" %>
	    </div>
	</div>
<%end%>