<div class="col-sm-6">
    <div class="del fancy_count <%= cycle("first_row", "first_row", "second_row", "second_row", "third_row" )%>">
        <label><%= abc %></label>
        <div class="toggle_rel">
            <div class="drop_toggle target_<%=i%> <%= disabled ? "disable_cls" : ""%>">
                <%= get_select_val(@move, i, abc)%>
            </div>
            <%if disabled == false%>
                <div class="fancy_select target_muscle_select" style="display:none;" >
                    <%= lib.hidden_field  :target_muscle_group, class: "target_muscle_menu_#{i} for_target_change taget_val" %>
                    <%= lib.hidden_field  :sub_target_muscle_group, class: "target_muscle_submenu_#{i} taget_sub_val" %>
                	<ul>
                		<%TargetMuscleGroup::MUSCLES_TYPE[i][1].each do |key, value|%>
                			<li class="sub_arw"><%=key%>
                				<ul data-group="<%=key%>" data-id="<%=i%>" class="sub_dd_menu">
                					<%value.each_with_index do |sub_opt, ind|%>
                						<li class= "" data-subgroup='<%=ind > 0 ? "#{key} #{sub_opt}" : sub_opt%>' data-subcat="<%=sub_opt%>"><%=sub_opt%></li>
                					<%end%>
                				</ul>
                			</li>
                		<%end%>
                	</ul>
                </div>
            <%end%>
            <span class="error_msg_<%=i%>"></span>
	    </div>
    </div>
</div>


<%#=select_tag "library[target_muscle_groups_attributes][#{num}][target_muscle_group]", options_for_select(TargetMuscleGroup::MUSCLES_TYPE[num][1]), prompt: "Choose #{TargetMuscleGroup::MUSCLES_TYPE[num][0]}" %>

<%#= hidden_field_tag "library[target_muscle_groups_attributes][#{num}][target_muscle_group]", "", class: "" %>
<%#= hidden_field_tag :sub_target_muscle_group, "", class: "" %>