<div class="exr_field_col del">
  	<label><%= abc %></label>
  	<div class="toggle_rel">
  	<div class="drop_toggle target_<%=i%>">
  		<%= @library.new_record? ? "Choose #{abc}" : @library.target_muscle_groups[i].target_muscle_group%>
  	</div>
	    <div class="fancy_select toggle_abs" style="display:none;" >
	    	<%= lib.hidden_field  :target_muscle_group, class: "target_muscle_menu_#{i}" %>
    		<%= lib.hidden_field  :sub_target_muscle_group, class: "target_muscle_submenu_#{i}" %>
	    	<ul>
	    		<%TargetMuscleGroup::MUSCLES_TYPE[i][1].each do |key, value|%>
	    			<li class="sub_arw"><%=key%>
	    				<ul data-group="<%=key%>" data-id="<%=i%>">
	    					<%value.each do |sub_opt|%>
	    						<li data-subgroup="<%=sub_opt%>"><%=sub_opt%></li>
    						<%end%>
	    				</ul>
	    			</li>
	    		<%end%>
	    	</ul>
	    	<%#=select_tag "library[target_muscle_groups_attributes][#{num}][target_muscle_group]", options_for_select(TargetMuscleGroup::MUSCLES_TYPE[num][1]), prompt: "Choose #{TargetMuscleGroup::MUSCLES_TYPE[num][0]}" %>

	    	<%#= hidden_field_tag "library[target_muscle_groups_attributes][#{num}][target_muscle_group]", "", class: "" %>
    		<%#= hidden_field_tag :sub_target_muscle_group, "", class: "" %>
	    </div>
	    </div>
</div>
