  <%change_cls = disabled ? '' : 'for_on_change1'%>
  <% if @size.present? %>
    <% temp = 0 %>
    <ul id="see_more">
    <% @size.each_with_index do |move, index| %>
      <% if(temp == 0) %>
        <li class= "li_class <%= (index>2)? 'image_hide' : '' %>" >
          <%= image_tag(@size[index], width: "167", alt: "upload_thumb", class: change_cls) %>
          <div class="video_title <%= (index == 0 && @move.library_video.image.present?)? 'select_thumb' : '' %>">Selected</div>
        </li>
        <% temp = temp+1 %>
      <% elsif(temp<2) %>
        <li class="margn45 li_class <%= (index>2)? 'image_hide' : '' %>" >
          <%= image_tag(@size[index], width: "167", alt: "upload_thumb", class: change_cls) %>
          <div class="video_title">Selected</div>
        </li>
        <% temp = temp+1 %>
      <% else %>
        <li class= "li_class <%= (index>2)? 'image_hide' : '' %>">
          <%= image_tag(@size[index], width: "167",  alt: "upload_thumb", class: change_cls) %>
          <div class="video_title">Selected</div>
        </li>
        <% temp = 0 %>
      <% end %>
    <% end %>
    </ul>
    <p class="load_more"><a href='javascript:void(0)'>Show all</a></p>
    <p class="load_less"><a href='javascript:void(0)'>Show less</a></p>
  <% else %>
    <p class="input_sub_text">Thumbnail selections will appear when the video has finished processing.</p>
  <% end %>
<%if disabled == false%>
  <script>
  $(document).ready(function(){
    $(document).on('click','.li_class', function(){
      // $('.li_change').removeClass('li_change');
      // $(this).addClass('li_change');
      var s = $(this).find('img').prop('src');
      $('.image_url').val(s);
      $('.select_thumb').removeClass('select_thumb');
      $(this).find('.video_title').addClass('select_thumb');
    });

    $(document).on('click','.load_more', function(){
      $('.image_hide').each(function( index ) {
        $(this).addClass('image_show');
        $(this).removeClass('image_hide');
        if($('.image_hide').size() == 0)
        {
          $('.load_more').hide();
          $('.load_less').show();
        }
      });
    });

    $(document).on('click','.load_less', function(){
      $('.image_show').each(function( index ) {
        $(this).addClass('image_hide');
        $(this).removeClass('image_show');
        if($('.image_show').size() == 0)
        {
          $('.load_less').hide();
          $('.load_more').show();
        }
      });
    });
  })
  </script>
<%end%>

