<% if action_name == 'edit' && controller_name == 'libraries' %>
  <% temp = 0 %>
  <ul id="see_more">
  <% @size.each_with_index do |library, index| %>
    <% if(temp == 0) %>
      <li class= "li_class <%= (index>2)? 'image_hide' : '' %>" ><%= image_tag(@size[index], width: "167", alt: "upload_thumb") %>
        <div class="video_title <%= (index == 0)? 'select_thumb' : '' %>">Selected</div>
      </li>
      <% temp = temp+1 %>
    <% elsif(temp<2) %>
      <li class="margn45 li_class <%= (index>2)? 'image_hide' : '' %>" ><%= image_tag(@size[index], width: "167", alt: "upload_thumb") %>
        <div class="video_title">Selected</div>
      </li>
      <% temp = temp+1 %>
    <% else %>
      <li class= "li_class <%= (index>2)? 'image_hide' : '' %>"><%= image_tag(@size[index], width: "167",  alt: "upload_thumb") %>
        <div class="video_title">Selected</div>
      </li>
      <% temp = 0 %>
    <% end %>
  <% end %>
  </ul>
<% end %>
<p class="load_more"><a href='javascript:void(0)'>Show all...</a></p>
<p class="load_less"><a href='javascript:void(0)'>Show less...</a></p>
  <!-- <%# temp = 0 %>
  <%# j = @size %>
  <ul>
  <%# @video.panda_mp4.screenshots.each_with_index do |library, index|  %>
    <%# if(temp == 0) %>
      <li><%#= image_tag(index[i], width: "167", height: "93", alt: "upload_thumb") %>
      </li>
      <%# temp = temp+1 %>
    <%# elsif(temp<2) %>
      <li class="margn45"><%#= image_tag(index[i], width: "167", height: "93", alt: "upload_thumb") %></li>
      <%# temp = temp+1 %>
    <%# else %>
      <li><%#= image_tag(index[i], width: "167", height: "93", alt: "upload_thumb") %></li>
      <%# temp = 0 %>
    <%# end %>
    <%#if !(6%3 == 0)%>
      </ul> -->
    <%#end%>
  <%# end %>
  <!-- </ul> -->
<%# end %> 

<script>
$(document).ready(function(){
  $('.li_class').click(function(){
    // $('.li_change').removeClass('li_change');
    // $(this).addClass('li_change');
    var s = $(this).find('img').prop('src');
    $('.image_url').val(s);
    $('.select_thumb').removeClass('select_thumb');
    $(this).find('.video_title').addClass('select_thumb');
  });

  $('.load_more').click(function(){
    $('.image_hide').each(function( index ) {
      $(this).addClass('image_show');
      $(this).removeClass('image_hide');
      if($('.image_hide').size() == 0)
      {
        $('.load_more').hide();
        $('.load_less').show();
      }
    });
  });

  $('.load_less').click(function(){
    $('.image_show').each(function( index ) {
      $(this).addClass('image_hide');
      $(this).removeClass('image_show');
      if($('.image_show').size() == 0)
      {
        $('.load_less').hide();
        $('.load_more').show();
      }
    });
  });
})
</script>

