<div class="create_heading">
    <div class="lib_image_box"><img src="<%= @library.library_video.image ? @library.library_video.image : '/assets/ex_2.jpg' %>" />
    </div>
    <div class="lib_text_box">
      <h4><%= @library.title.titleize%></h4>
      <p><img src="<%= status_icon(@library.status)%>" /><%= @library.status %></p>
    </div>
</div>

<div class="libray_detail wht_bg">
  <div class="lib_img_coll">
    <span class="show_img_on_scol">
      <div class="lib_image_box">
        <img src="<%= @library.library_video.image ? @library.library_video.image : '/assets/ex_2.jpg' %>" />
      </div>
      <div class="lib_text_box">
        <h4><%= @library.title.titleize%></h4>
      </div>
    </span>
    <div class="rght_btns">
      <a href="javascript:void(0)" class="cancel_btn rht_active edit_lib" lib-status="save">Save</a>
      <a href="javascript:void(0)" class="cancel_btn rht_active edit_lib" lib-status="<%= Library::STATUS[1] %>">Submit with review</a>
    </div>
  </div>
  
<%= simple_nested_form_for(@library, url: (@library.new_record? ? libraries_path : library_path(@library)), html: {id: 'edit_video_info'}) do |lib| %>
  <div class="exer_rht_col">
    <div style="color:red;">
      <% if @library.errors.full_messages.any? %>
        <ul>
          <% @library.errors.full_messages.each do |error_message| %>
            <li><%= error_message %></li>
          <% end %>
        </ul>
      <%end%>
      <%= hidden_field_tag :video, "#{@video_id.present? ? @video_id : ''}", class: "video_id" %>
      <%= hidden_field_tag :image, "", class: "image_url" %>
      <%= hidden_field_tag :status_change, "", class: "status" %>
      <div class="lib_des_lft">
      <div class="exr_field_col">
        <label>Title</label>
        <%= lib.text_field :title %>
      </div>
        
      <div class="exr_field_col number_mus">
      	<label>Number of Target Muscle Groups</label>
        <input name="" type="button" class="fancy_input active" value="1"/>
        <input name="" type="button" class="fancy_input" value="2"/>
        <input name="" type="button" class="fancy_input" value="3"/>
        <input name="" type="button" class="fancy_input" value="4"/>
        <input name="" type="button" class="fancy_input" value="5"/>
      </div>
      <% i = 0 %>
      <%= lib.fields_for :target_muscle_groups do |builder| %>
        <% abc = TargetMuscleGroup::MUSCLES_TYPE[i] %>
        <%=render partial: "target_muscle_group_fields", locals: {abc: abc, lib: builder} %>
        <%i += 1%>
      <%end%>
  </div>
  <div class="lib_des_rht">
      <div class="exr_field_col">
        <label>Directions</label>
        <%= lib.text_area :directions %>
      </div>
        
      <div class="exr_field_col cate_wd48">
        <label>Category</label>
        <div class="fancy_select">
          <%= lib.select :category, Library::CATEGORIES, prompt: "Select Category" %>
        </div>
      </div>

      <div class="exr_field_col level_wd48">
      	<label>Level of Difficulty</label>
        <div class="fancy_select">
          <%= lib.select :difficulty, Library::DIFFICULTIES, prompt: "Select Difficulty" %>
        </div>
      </div>
  </div>
    </div>
    
  <% end %>
  
  <% if @library.library_video.present? %>
    <span class="upload_edit"><%= render "upload_edit" %></span>
    <span class="replace_video"><%= render "upload" %></span>
    <div class="lib_edit_botom">
      <h5>Replace Video</h5>
      <p>Upload New or Replace video </p>
      <%=link_to "Replace this video", "javascript:void(0)",:class => "replace_video_btn"%>
    </div>
    <div class="lib_edit_botom">
      <h5>Remove Video</h5>
      <p>Remove Uploaded Video</p>
      <%=link_to "Remove this video", video_path(@library.library_video.id), :method => :delete, :confirm => "Are you sure ?", :class => "remove_video_btn"%>
    </div>
  <% else %>
    <%= render "upload" %>
    
  <% end %>
</div>

<div class="create_heading pad20">
  
</div>





