<div class="create_heading">
    <div class="prev_lib_col" id="<%= @library.id%>">
      <%= link_to("< Fitness Library", libraries_path) %>
    </div>
    <div class="lib_image_box"><img src="<%= @library.library_video.image.present? ? @library.library_video.image : '/assets/ex_2.jpg' %>" />
    </div>
    <div class="lib_text_box">
      <h4><%= @library.title.titleize%></h4>
      <p><img src="<%= status_icon(@library.status)%>" /><%= @library.status %></p>
    </div>
</div>

<div class="libray_detail wht_bg">
  <%= simple_nested_form_for(@library, url: (@library.new_record? ? libraries_path : library_path(@library)), html: {id: 'edit_video_info'}) do |lib| %>
    <div class="lib_img_coll">
      <span class="show_img_on_scol">
          <div class="lib_image_box">
            <img src="<%= @library.library_video.image.present? ? @library.library_video.image : '/assets/ex_2.jpg' %>" />
          </div>
          <div class="lib_text_box">
            <h4><%= @library.title.titleize%></h4>
          </div>
        </span>

        <div class="rght_btns">
          <a href="javascript:void(0)" class="cancel_btn rht_active edit_lib dis_link chg_save" lib-status="save">Save</a>
          <a href="javascript:void(0)" class="cancel_btn rht_active edit_lib dis_link chg_lin" lib-attr = "<%= @lib_attr %>" lib-status="<%= Library::STATUS[1] %>">Submit for review</a>
        </div>
      </div>
  </div>
  
<div class="middle_wrapper">
  <div class="exer_rht_col pd30">
    <div class= "lib_move_title">
      Basic Move Information
    </div>
    <div style="color:red;">
      <% if @library.errors.full_messages.any? %>
        <ul>
          <% @library.errors.full_messages.each do |error_message| %>
            <li><%= error_message %></li>
          <% end %>
        </ul>
      <%end%>
      <%= hidden_field_tag :video, "#{@video_id.present? ? @video_id : ''}", class: "video_id" %>
      <%= hidden_field_tag :image, "", class: "image_url" %>
      <%= hidden_field_tag :status%>
      <div class="lib_des_lft">
          <div class="exr_field_col">
            <label>Title</label>
            <%= lib.text_field :title, class: "for_on_change" %>
          </div>
            
          <div class="exr_field_col number_mus mus_count">
            <h4>Additional Details</h4>
          	<label>Target Muscle Groups</label>
            <%(1..5).each do |no|%>
              <input name="" type="button" class="fancy_input wd16 <%= trg_count(@library, no)%>"  value="<%=no%>"/>
            <%end%>
          </div>
          <div class="exr_field_col number_mus mus_select targets_sel">
            <% i = 0 %>
            <%= lib.fields_for :target_muscle_groups do |builder| %>
              <span class="edit_tmg <%= trg_hide(@library,i)%>">
                <% abc = TargetMuscleGroup::MUSCLES_TYPE[i][0] %>
                <%=render partial: "target_muscle_group_fields", locals: {abc: abc, lib: builder, i: i} %>
                <%i += 1%>
              </span>
            <%end%>
          </div>
      </div>
      <div class="lib_des_rht ">
          <div class="exr_field_col">
            <label>Directions</label>
            <%= lib.text_area :directions, class: "for_on_change" %>
          </div>
            
          <div class="exr_field_col cate_wd48">
            <label>Category</label>
            <div class="fancy_select">
              <%= lib.select :category, Library::CATEGORIES, {}, prompt: "Select Category", class: "for_on_change" %>
            </div>
          </div>

          <div class="exr_field_col level_wd48">
          	<label>Level of Difficulty</label>
            <div class="fancy_select">
              <%= lib.select :difficulty, Library::DIFFICULTIES,{}, prompt: "Select Difficulty", class: "for_on_change" %>
            </div>
          </div>
          <div class="exr_field_col ">
            <label>Equipment</label>
            <h5 class="equ_h5">Add any equipment that is needed to perform this move. No more than 5 pieces of equipment can be added to a single move.</h5>
            <div>
              <%= lib.select :equipment, options_for_select(Library::EQUIPMENT_LIST,:selected => @library.equipment),{},{ :multiple => true, :size =>3, class: "equ_cls for_on_changed" } %>
            </div>
          </div>
      </div>
    </div>
  <% end %>
  
  <% if @library.library_video.present? %>
   <span class="upload_edit"><%= render "upload_edit" %></span>
    <div class="lib_edit_botom">
      <h5>Replace Video</h5>
      <p>Upload a new video file for this move to replace the old one.</p>
      <%=link_to "Replace this video", "javascript:void(0)",:class => "replace_video_btn upload_video"%>
    </div>
    <div class="lib_edit_botom">
      <h5>Remove Video</h5>
      <p>Parmanently remove this video from Xerofit. Proceed with caution, this action cannot be undone.</p>
      <%=link_to "Remove this Excercise", library_path(@library), :method => :delete, :confirm => "Are you sure ?", :class => "remove_video_btn"%>
    </div>
  <% end %>
</div>
</div>

<%= simple_form_for(LibraryVideo.new, url: videos_path, remote: true, html: {id: 'video_upload_form'}) do |video| %>
    <div class="form-inputs" style="display:none">
      <%= hidden_field_tag :lib_id, (@library.id ? @library.id : "") %>
      <%= hidden_field_tag :video_old_id, (@library.library_video ? @library.library_video.id : "") %>
      <%= video.file_field :video %>
    </div>
  <% end %>




<script>
$(document).ready(function(){
  var v = $('.chg_lin').attr('lib-attr');
  if(v == "true")
  {
    $('.chg_lin').removeClass('dis_link')
  }
});
</script>


