<%show_if_admin = current_user.admin?%>
<%hide_if_admin = !current_user.admin?%>

<%session[:video_id] = ''%>

<div class="control_bar">
  <div class="container-fluid">
    <div class="control_bar_wrap content_details">
      <div class="prev_lib_col control_bar_links" id="<%= @library.id%>">
        <%= link_to("Fitness Library", libraries_path, :class=>'cb_breadcrumb') %>
      </div>
      <div class="control_bar_context">
        <div class="lib_image_box">
          <img src="<%= @library.library_video && @library.library_video.image.present? ? @library.library_video.image : '/assets/ex_2.png' %>" />
        </div>
        <div class="lib_text_box">
          <h4><%= @library.title%></h4>
          <p class="library_item_status" data-status="<%=@library.status%>" data-status-icon="<%= status_icon(@library.status)%>">
            <img src="<%= status_icon(@library.status)%>"/>
            <%= @library.status %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="details_page_header">
  <div class="container-fluid">
  <%= simple_form_for(@library, url: (@library.new_record? ? libraries_path : library_path(@library)), html: {id: 'edit_video_info'}) do |lib| %>
    <div class="lib_img_coll">
      <span class="show_img_on_scol">
        <div class="lib_image_box">
          <img src="<%= @library.library_video && @library.library_video.image.present? ? @library.library_video.image : '/assets/ex_2.png' %>" />
        </div>
        <div class="lib_text_box">
          <h4><%= @library.title%></h4>
        </div>
      </span>

      <div class="rght_btns">
        <a href="javascript:void(0)" class="cancel_btn rht_active edit_lib dis_link chg_save" lib-status="<%=@library.status%>">Save</a>
        <%if hide_if_admin%>
          <a href="javascript:void(0)" class="cancel_btn rht_active edit_lib dis_link chg_lin btn_right" lib-attr = "<%= @lib_attr %>" lib-status="<%= Library::STATUS[2] %>">Submit for review</a>
        <%end%>
      </div>
    </div>
  </div>
</div>

<div class="page_content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div style="color:red;">
          <% if @library.errors.full_messages.any? %>
            <ul>
              <% @library.errors.full_messages.each do |error_message| %>
                <li><%= error_message %></li>
              <% end %>
            </ul>
          <%end%>
        </div>
        <h3 class="lib_section_title first_section">Basic Move Information</h3>
      </div>
      <div class="col-sm-6">
        <%= hidden_field_tag :video, "#{@video_id.present? ? @video_id : ''}", class: "video_id" %>
        <%= hidden_field_tag :image, "", class: "image_url" %>
          <%if show_if_admin%>
            <%=render "common_templates/change_status", f: lib%>
          <%else%>
            <%= lib.hidden_field :status%>
          <%end%>
          <div class="input_field_wrap">
            <label>Title</label>
            <%= lib.text_field :title, class: "for_on_change", maxlength: "80" %>
            <span class="detail_char" data-size="80">80</span>
          </div>
          <div class="input_field_wrap">
            <label>Helpful Tips and Tricks (optional) </label>
            <%= lib.text_area :help, maxlength: "150", :class => "text_area_sm for_on_changed" %>
            <span class="detail_char" data-size="150">150</span>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input_field_wrap">
                <label>Category</label>
                <div class="fancy_select">
                  <%= lib.select :category, Library::CATEGORIES, {prompt: "Choose one"}, {class: "for_on_change"} %>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input_field_wrap">
                <label>Level of Difficulty</label>
                <div class="fancy_select">
                  <%= lib.select :difficulty, Library::DIFFICULTIES, {prompt: "Choose one"}, {class: "for_on_change"} %>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-sm-6">
        <div class="input_field_wrap">
          <label>Directions</label>
          <%= lib.text_area :directions, maxlength: "450", :class => "text_area_lg for_on_change" %>
          <span class="detail_char" data-size="450">450</span>
        </div>

        <div class="input_field_wrap">
          <label>Why it Works (optional)</label>
          <%= lib.text_area :work, maxlength: "150", :class => "text_area_sm for_on_changed" %>
          <span class="detail_char" data-size="150">150</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h3 class="lib_section_title">Additional Details</h3>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6">
            <div class="input_field_wrap number_mus mus_count">
              <label>Target Muscle Groups</label>
              <%(1..5).each do |no|%>
                <input name="" type="button" class="fancy_input <%= trg_count(@library, no, @count)%>"  value="<%=no%>"/>
              <%end%>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="input_field_wrap trgt_muscle_groups">
              <% i = 0 %>
              <%= lib.fields_for :target_muscle_groups do |builder| %>
                <span class="edit_tmg <%= trg_hide(@library,i,@count)%>">
                  <% abc = TargetMuscleGroup::MUSCLES_TYPE[i][0] %>
                  <%=render partial: "target_muscle_group_fields", locals: {abc: abc, lib: builder, i: i} %>
                  <%i += 1%>
                </span>
              <%end%>
            </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input_field_wrap">
          <label class="input_label">Equipment (optional)</label>
          <p class="equ_h5 input_sub_text">Double click to add any equipment that is needed to perform this move. No more than 5 can be added to a single move.</p>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="dblclk_add">
                <ul id="equipment_list">
                <% Library::EQUIPMENT_LIST.each do |list|%>
                  <li class="for_on_changed"><%= list %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="selected_equip">
              <% if @library.equipment.present? %>
                <% [0,1,2,3,4].each do |index|%>
                  <input type="hidden" name="library[equipment][]" value="<%=@library.equipment[index] %>" class="equip_hid" id="equip_hid_<%=index%>">
                    <%=render "selected_equiptment", equip: @library.equipment[index], index: index %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div style="color:red;">
        <% if @library.errors.full_messages.any? %>
          <ul>
            <% @library.errors.full_messages.each do |error_message| %>
              <li><%= error_message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>

      <div class="row">
        <% if @library.library_video.present? %>
          <span class="upload_edit">
            <%= render "upload_edit" %>
          </span>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="lib_edit_botom replace_video_section">
            <h5 class="input_label">Replace Video</h5>
            <p class="input_sub_text">Upload a new video file for this move to replace the old one.</p>
            <%=link_to "Replace this video", "javascript:void(0)",:class => "replace_video_btn full_workout", "data-edit"=> @library.library_video.id%>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h3 class="lib_section_title">Other</h3>
        </div>
        <div class="col-sm-6">
          <div class="lib_edit_botom">
            <h5 class="input_label">Delete Move</h5>
            <p class="input_sub_text">Permanently remove this move and video from Xerofit. Proceed with caution, this action cannot be undone!</p>
            <%=link_to "Delete this move", library_path(@library), :method => :delete, :confirm => "Are you sure ?", :class => "remove_video_btn"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "common_templates/full_workout_upload" %>

<script>
$(document).ready(function(){
  var v = $('.chg_lin').attr('lib-attr');
  if(v == "true")
  {
    $('.chg_lin').removeClass('dis_link')
  }
  show_text_actual_size();
});
$('.admin_li').removeClass('active')
$('.admin_li.library').addClass('active');
</script>


