<div class="create_heading">
    <div class="plus_icon">
      <a href="/libraries/new">
        <img src="/assets/plus_icon.png"/>
      </a>
      <div class="hover_box">
      <a href="/libraries/new">Add New</a> 
    </div>
    </div>
   <%= form_tag(get_lib_items_libraries_path, remote: true, method: "post", id: "search_grid_list_form") do |f|%> 
    <div class="search_bar_col">
      <%= autocomplete_field_tag 'title', '', autocomplete_library_title_libraries_path, :class => "search_icon", :placeholder=>"Search", :id => "search_lib_by_name" %>
      <input type="button" class="search_btn" id="lib_name_for_search">
    </div>

    <div class="select_bar_col">
         <%= hidden_field_tag :type%>
         <%= hidden_field_tag :status%>
         <%= hidden_field_tag :view_type, "grid"%>
         <div class="custom_select_wrap">
          <span class="custom_select type_select">
            <select class="default">
              <option>All Type</option>
              <option>Excercises</option>
              <option>Workouts</option>
            </select>
          </span>
        </div>
        <div class="custom_select_wrap">
            <span class="custom_select status_select">
              <select class="default">
                <option class="green_icon">All Status</option>
                <%=Library::STATUS.each do |st|%>
                  <option><%=st%></option>
                <%end%>
              </select>
            </span>
        </div>
        <div class="tool_tip_col">
          <span class="list_icon view_type grid_pointer"  data-name="list" id="list_view">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <div class="hover_box">
            <a href="javascript:void(0)">List View</a> 
          </div>
        </div>
        <div class="tool_tip_col">
          <span class="grid_icon grid_icon_active grid_pointer view_type" data-name="grid" id="grid_view">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <div class="hover_box">
            <a href="javascript:void(0)">Grid View</a> 
          </div>
        </div>
      </div>
    <%end%>
</div>
<div class="middle_wrapper">
	<div class="dashboard_mid">
    <div class="library_col  library_view">
      <%= render "grid" %>
    </div>
			
      <%#= will_paginate @libraries, :remote=>true, :next_label => 'Next', :previous_label => 'Previous', :inner_window=>0, :outer_windows=>0 %>
       <%= paginate @libraries, :window => 2%>
    <!-- <div class="pagination">
     </div>-->

  </div>
</div>
<script>
  setTimeout(load_select_click); 
</script>