<div class="middle_wrapper">
  <div class="dashboard_mid">
    <%=  render "setting_left_menu" %>
    <div class="setting_edit">
      <h2>Change your password</h2>
      <div class="setting_form">
        <%= simple_form_for(@user, url: update_password_settings_path , html: { method: :put }) do |f| %>
          <div class="setting_form_field wdt_100">
            
            <label>New password</label>
            <%= f.input :password, label: false, required: true, autofocus: true, input_html:{class: "setting_input"}, value: '' %>
            
            <label>Confirm your new password</label>
            <%= f.input :password_confirmation, label: false, required: true, input_html:{:value=> '',class: "setting_input"} %>
          </div>
          <div class="save_col save_col1">
            <%= f.button :submit, "Change my password", class: "save_btn save_btn1" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>