<div class="block_options_html circuit_block">
    <%= render partial: "workouts/builder_blocks/circuit_block", locals: {cls: 'for_id', id: '', move_blocks: []}%>
</div>

<div class="block_options_html superset_block" >
    <%= render partial: "workouts/builder_blocks/superset_block", locals: {cls: 'for_id', id: '', move_blocks: []}%>
</div>

<div class="block_options_html water_break_block">
    <%= render partial: "workouts/builder_blocks/break_block", locals: {cls: 'for_id', id: '', block: ""}%>
</div>

<div class="block_options_html individual_block">
    <%= render partial: "workouts/builder_blocks/individual_block", locals: {text: '', cls: 'for_id', id: ''}%>
</div>

<div class="block_options_html block_inner_move">
    <%= render partial: "workouts/builder_blocks/block_inner_move", locals: {cls: 'for_id', id: '', text: ''}%>
</div>