
  <div class="login-wrap">
    <div class="login-head">
      <p>Enter the Card Information</p>
    </div>
    <div class="login-body">
      <%= form_for @subscription, :authenticity_token => true do |f| %>
        <%= f.hidden_field :stripe_card_token %>
        <% if @subscription.stripe_card_token.present? %>
          Credit card has been provided.
        <% else %>
          <div class="input-field-wrap">
            <%= label_tag :card_number, "Credit Card Number" %>
            <%= text_field_tag :card_number, nil, name: nil %>
          </div>

          <div class="input-field-wrap">
            <%= label_tag :card_code, "Security Code on Card (CVV)" %>
            <%= text_field_tag :card_code, nil, name: nil %>
          </div>

          <div class="input-field-wrap">
            <%= label_tag :card_month, "Card Expiration" %>
            <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", style: "height: 40px; width: 182px; font-size: 15px; padding: 8px;"} %>
            <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", style: "height: 40px; width: 182px; font-size: 15px; padding: 8px;"} %>
          </div>
        <% end %>
        
        <%= f.button "Subscribe", {:class=>"login-btn request_bt"} %>
        <span class="lost_pass_txt"> </span>
      <% end %>
    </div>
  </div>

