<div class="login-page">
    <div class="login-wrap">
        <div class="login-head">
            <h2>Trainers Login</h2>
            <p>Not a Xerofit trainer? <a href="http://xerofit.com/trainers">Learn more</a>.</p>
        </div>
        <div class="login-body">
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <%= f.error_notification %>
                <span class="error-messages">
                        <% resource.errors.full_messages.each do |object| %>
                            <%= object %></br>
                        <% end %>
                </span>
                <div class="input-field-wrap">
                    <label>Email:</label>
                    <%= f.input :email, label: false, required: false, autofocus: true %>
                </div>

                <div class="input-field-wrap usr_lgn_pas">
                    <label>Password:</label>
                    <%= f.input :password, label: false, required: false %>
                    <input type="text" id="txthdnPassword" />
                    <span class="toggle-pass">Show</span>

                </div>
                <%= f.button :submit, "Login", :class=>"login-btn" %>
                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                    <span class="btn-footnote">Lost Password?
                        <%= link_to "Reset it", new_password_path(resource_name) %>
                    </span>
                <% end -%>
            <% end %>
        </div>
    </div>
</div>
