
<div class="zmiddle_wrapper">
  <div class="popup_wrapper">
    <div class="popup_header">
      <h2>Sign In to Xerofit</h2>

      <p>Don't have an account yet? <a href="combo_signup.html">Sign up here</a>.</p>
    </div>
    <div class="popp_middle">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <span class="error_color">
              <% resource.errors.full_messages.each do |object| %>
                <%= object %></br>
              <% end %>
          </span>
          <div class="login_field">
            <label>Email:</label>
            <%= f.input :email, label: false, required: false, autofocus: true %>
          </div>

          <div class="login_field usr_lgn_pas">
            <label>Password:</label>
            <%= f.input :password, label: false, required: false %>
            <input type="text" id="txthdnPassword" />
            <span class="spn_pass" >Show</span>

          </div>
          <%= f.button :submit, "Login", :class=>"signin_btn" %>
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <span class="lost_pass_txt">Lost Password?
              <%= link_to "Reset it", new_password_path(resource_name) %>
            </span>
          <% end -%>
      <% end %>
    </div>
  </div>
</div>
