<div id="global-header" class="navbar hero-header" role="navigation">
    <div class="container-fluid">
        <div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
            <%= link_to ' ', { :controller => :website, :action => :home }, :id => 'xerofit-offcanvas-logo', :class => 'offcanvas-logo' %>

            <ul class="nav navmenu-nav offcanvas-main-nav">
                <li><%= link_to 'Discover', '#', { :class => 'discover-link' } %></li>
                <li><%= link_to 'How it Works', '#', { :class => 'how-it-works-link' } %></li>
                <li><%= link_to('Xerofit Trainers', { :controller => :website, :action => :trainers }) %></li>
            </ul>
        </div>

        <div class="nav-wrap">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
                <span class="icon-bar icon-bar-light"></span>
                <span class="icon-bar icon-bar-light"></span>
                <span class="icon-bar icon-bar-light"></span>
            </button>

            <ul class="main-nav nav navmenu-nav navbar-collapse collapse">
                <li><%= link_to 'Discover', '#', { :class => 'discover-link' } %></li>
                <li><%= link_to 'How it Works', '#', { :class => 'how-it-works-link' } %></li>
                <li><%= link_to('Xerofit Trainers', { :controller => :website, :action => :trainers }) %></li>
            </ul>
            <div class="nav-logo-wrap navbar-collapse collapse">
                <%= link_to ' ', { :controller => :website, :action => :home }, :id => 'xerofit-navbar-logo-light', :class => 'xerofit-navbar-logo' %>
            </div>

            <div class="util-nav">
                <!-- <a href="#" class="btn btn-white small-btn" data-toggle="modal" data-target="#trainer-signup-pop">Join</a> -->
                <!-- <div class="head_rht"> -->
                    <%if current_user %>
                        <%=link_to "Logout", destroy_user_session_path, :method => :delete, :class=>"btn btn-white small-btn"%>
                    <%else%>
                        <%=link_to "Login", new_user_session_path, :class=>"btn btn-white small-btn"%>
                        or
                        <%=link_to "Join",  combo_signup_path, :class=>"btn btn-white small-btn" %>
                    <%end%>
                <!-- </div> -->
            </div>

        </div>
    </div>
</div>