<table class="table table-bordered table-striped">
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Role</th>
    <th>Date Registered</th>
    <th>Action</th>
  </tr>
  <% if @users.present? %>
    <% @users.each_with_index do |user, ind| %>
      <%#ind += 1%>
      <tr>
        <td><%=user.id%></td>
        <td><%=user.email%></td>
        <td><%=user.first_name%></td>
        <td><%=user.last_name%></td>
        <td><%=user.role%></td>
        <td><%=user.created_at%></td>
        <td>
          <%=link_to "View", libraries_path(user: user.token)%> | <%= link_to "Trash", user_trash_admin_users_path(id: user) %>
        </td>
      </tr>
    <% end %>
  <% else %>
  <tr>
    <td colspan="7">Record not found...... </td>
  </tr>
  <% end %>
</table>