<table class="table table-bordered table-striped">
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Date Registered</th>
    <th>Action</th>
  </tr>
  <% if @users.present? %>
    <% @users.each_with_index do |user, ind| %>
      <%#ind += 1%>
      <tr>
        <td><%=user.id%></td>
        <td><%=user.email%></td>
        <td><%=user.first_name%></td>
        <td><%=user.last_name%></td>
        <td><%=user.created_at%></td>
        <td>
          <%=link_to "Edit", edit_admin_user_path(user)%> | <%=link_to "Delete", admin_user_path(user), method: "delete", data: {:confirm => "Are you sure?"}%>
        </td>
      </tr>
    <% end %>
  <% else %>
  <tr>
    <td colspan="6">Record not found...... </td>
  </tr>
  <% end %>
</table>