<div class="col-md-12">
  <div class="col-md-9">
    <a href="<%= admin_users_path %>">
      <strong>
        <i class="glyphicon glyphicon-th-list"></i> Users List
      </strong>
    </a> 
  </div> 
  <div class="col-md-3">
    <%=link_to new_admin_user_path do%>
      Add New User
    <%end%>
  </div>
</div>
<hr>
<%= render "common_templates/admin/sort_select"%>
<div class="col-md-9 search_user">
    <%= render "filter_index"%>
</div>
<div class="col-md-3">
  <%=  render "admin_user_filter"%>
</div>

<script>
  $('.admin_li').removeClass('active');
  $('.admin_li.users').addClass('active');
</script>