<a href="<%= admin_users_path %>"><strong><i class="glyphicon glyphicon-comment"></i> Users List</strong></a>  
<hr>
<% @users.each do |user| %>
    <h3>
      <%= link_to admin_user_path(user) do %>
        <span>
          <%= user.email %>
        </span>
      <% end %>
    </h3>
    <div class="pull-right">
      <span class="user_details_date">
        <%= distance_of_time_in_words(user.created_at,Time.now) %>
        <%= 'ago' %>
      </span>
    </div>
   <span class="badge badge-success">
       <%= user.fullname %>
    </span>
    <div class="clear" style="clear:both;"></div>
    <hr/>
<% end %>
<% if @type.blank? %>
  <%= link_to 'New Admin', new_admin_user_path(role: :admin), class: 'btn btn-default' %>
  <%= link_to 'New Trainer', new_admin_user_path(role: :trainer), class: 'btn btn-default' %>
  <%= link_to 'New Normal User', new_admin_user_path(role: :normaluser), class: 'btn btn-default' %>
<% elsif @type == "admin" %>
  <%= link_to 'New Admin', new_admin_user_path(role: :admin), class: 'btn btn-default' %>
<% elsif @type == "trainer" %>
  <%= link_to 'New Trainer', new_admin_user_path(role: :trainer), class: 'btn btn-default' %>
<% elsif @type == "normaluser" %>
  <%= link_to 'New Normal User', new_admin_user_path(role: :normaluser), class: 'btn btn-default' %>
<% end %>