<% if @list_move_hash.present? %>
    <% @list_move_hash.each do |list_title, moves| %>
        <section class="discover-gallery">

            <div class="list-heading">
                <h3><%= list_title.humanize.titleize %></h3>
                <%= link_to "See more", "/discover/#{list_title}" %>
            </div>

            <% if moves.present? %>
                <div class="discover-list xfit-gallery owl-carousel">
                    <% moves.each_with_index do |mov, index| %>
                        <% unless index > 19%>
                            <a href="<%= params[:user].blank? ? discover_details_path(mov) : discover_details_path(mov, user: params[:user]) %>" data-no-turbolink="true" class="list-item">
                                <figure class="list-item-img" style="background-image: url(<%= mov.library_video.image %>);"></figure>

                                <h5><%= truncate(mov.title, :length => 26, :seperator => ' ...') %></h5>
                                <span><%= mov.user.fullname %></span>
                            </a>
                        <% end %>
                    <% end %>
                </div>
             <% else %>
                <div class="empty-library">
                  <h3>There are no moves in this list</h3>
                </div>
            <% end %>

        </section>
    <% end %>
<% else %>
    <div class="empty-library">
      <h3>There are no moves in this list</h3>
    </div>
<% end %>



<script type="text/javascript">
    loadMarketplaceCarousel(".discover-list");
</script>