<div class="move-attribution">
    <%= image_tag @move.try(:user).try(:pic).present? ? @move.try(:user).try(:pic).url(:medium) : "/assets/profile_img.jpg", class: "img_user trainer-avatar"%>
    <div class="video-title">
            <h3><%= @move.title.try(:titleize) %></h3>
            <span>By <%= @move.formated_user_name %></span>
    </div>
</div>

<aside class="move-basic-info">
    <h4 class="section-title">Basic Info</h4>
    <ul>
        <li>
            <label>Directions</label>
            <p><%= @move.directions %></p>
        </li>

        <% if @move.help.present? %>
            <li>
                    <label>Helpful tips and Tricks</label>
                    <p><%= @move.help %></p>
            </li>
        <% end %>
        <% if @move.work.present? %>
            <li>
                <label>Why it works</label>
                <p><%= @move.work %></p>
            </li>
        <% end %>
    </ul>
</aside>