<div class="container-fluid">
	<video id="move_video" data-attr="move_<%= @move.id %>" width="854" height="480" controls poster="<%= @move.library_video && @move.library_video.image.present? ? @move.library_video.image : '/assets/ex_2.png' %>">
	    <source src="<%= @move.library_video.panda_mp4_hd_url %>" type="video/mp4">
	    <source src="<%= @move.library_video.panda_mp4_url %>" type="video/mp4">
	    <source src="<%= @move.library_video.panda_ogg_hd_url %>" type="video/ogg">
	    <source src="<%= @move.library_video.panda_ogg_url %>" type="video/ogg">
	</video>
</div>