<div class="control_bar_links">
    <h4><%= link_to "Browse All", discover_path, :class=>'cb_breadcrumb' %></h4>
</div>

<div class="control_bar_context">
    <h4 class="title">List Title</h4>

    <%= form_tag(search_in_discover_data_discover_index_path, remote: true, method: "get", id: "search_in_discover_data") do |f|%>


        <div class="search_bar_col">
            <%= autocomplete_field_tag 'title', '', autocomplete_move_title_discover_index_path, :class => "search_icon search_bar", :placeholder=>"Search", :id => "search_approve_move" %>
            <!-- <input type="button" id="lib_name_for_search"> -->
            <div class="search_bar_icon"></div>
            <div class="search_bar_clear1 hide"></div>
        </div>
        <%= hidden_field_tag :name, params[:name] %>

        <div class="move-filters target-muscles">
        <!--div class="filter_control_wrap"-->

            <span class="target-muscles">
                <%= select_tag :target_muscle_group, options_for_select(TargetMuscleGroup::TARGET_FOR_SEARCH), prompt: "All target muscles", class: "select_target_muscle_group" %>
            </span>


            <span class="">
                <%= select_tag :category, options_for_select(@sort_array), prompt: "All categories", class: "select_category" %>
            </span>
        </div>
    <% end %>
</div>