<% if @move.present? %>


<div class="control_bar">
    <div class="container-fluid">
        <div class="control_bar_wrap">
            <div class="prev_lib_col control_bar_links">
                <a href="#" class="cb_breadcrumb">Back to Discover</a>
            </div>
            <div id="discover-control-bar" class="control_bar_context">
                <div class="header-title-wrap">
                    <img src="<%= @move.library_video && @move.library_video.image.present? ? @move.library_video.image : '/assets/ex_2.png' %>" />
                    <h4><%= @move.title.titleize %></h4>
                </div>
            </div>
        </div>
    </div>
</div>



<header id="discover-video-header">
    <span class="show-on-scroll"></span>
</header>



<section class="video-player">
    <div class="container-fluid">
        <video id="move_video" width="854" height="480" controls poster="<%= @move.library_video && @move.library_video.image.present? ? @move.library_video.image : '/assets/ex_2.png' %>">
            <source src="<%= @move.library_video.panda_mp4.url %>" type="video/mp4">
            <source src="<%= @move.library_video.panda_ogg.url %>" type="video/ogg">
        </video>
    </div>
</section>



<section class="video-details">
    <div class="container">
        <div class="row">

            <div class="col-sm-8">

                <%= image_tag @move.user.pic.present? ? @move.user.pic.url(:medium) : "/assets/profile_img.jpg", class: "img_user"%>

                <%= @move.user.fullname.humanize %>
                <aside class="move-details-long">
                    <ul>
                        <li>
                            <label>Directions</label>
                            <p><%= @move.directions %></p>
                        </li>

                        <% if @move.help.present? %>
                            <li>
                                <label>Helpful tips and Tricks</label>
                                <p><%= @move.help %></p>
                            </li>
                        <% end %>
                        <% if @move.work.present? %>
                            <li>
                                <label>Why it works</label>
                                <p><%= @move.work %></p>
                            </li>
                        <% end %>
                    </ul>
                </aside>
            </div>

            <div class="col-sm-4">
                <table class="move-details-short">
                    <tr>
                        <td>Move Title:</td>
                        <td><%= @move.title.titleize %></td>
                    </tr>
                    <tr>
                        <td>Date Added:</td>
                        <% if @move.date_of_approval.present? %>
                            <td><%= @move.date_of_approval.strftime("%m/%d/%y %I:%M") %><td>
                        <% else %>
                            <td><%= @move.updated_at.strftime("%m/%d/%y %I:%M") %><td>
                        <% end %>
                    </tr>
                    <tr>
                        <td>Category:</td>
                        <td><%= @move.category %></td>
                    </tr>
                    <tr>
                        <td>Level of Difficulty:</td>
                        <td><%= @move.difficulty %></td>
                    </tr>

                    <% target_muscle = @move.target_muscle_groups.map{|m| m.target_muscle_group}-["",nil]%>
                    <% if target_muscle.present? %>
                        <tr>
                            <td>Target Muscle Groups:</td>
                            <td><%= target_muscle.join(',') %></td>
                        </tr>
                    <% end %>


                    <% if @move.equipment.present? %>
                        <tr>
                            <td>Required Equipment:</td>
                            <td><%= @move.equipment %></td>
                        </tr>
                    <% end %>
                </table>
            </div>

        </div>
    </div>
</section>

<% end %>