<%= form_tag('/library/crop_image_save', remote: true, id: 'crop_image_form') do |crop| %>
  <div class="bootstrap-modal-cropper">
    <img src="<%=url%>">
  </div>
  <%["x", "y", "width", "height"].each do |att|%>
    <%=hidden_field_tag "#{att}"%>
  <%end%>
  <%=hidden_field_tag "type", params[:type]%>
  <%=hidden_field_tag "id", params[:id]%>
<%end%>

<script>

var $image = $('.bootstrap-modal-cropper').find('img'),
    $dataX = $("#x"),
    $dataY = $("#y"),
    $dataHeight = $("#height"),
    $dataWidth = $("#width");

$image.cropper({
  aspectRatio: 1,
  data: {
    x: 50,
    y: 50,
    width: 50,
    height: 50
  },
  done: function(data) {
    $dataX.val(data.x);
    $dataY.val(data.y);
    $dataHeight.val(data.height);
    $dataWidth.val(data.width);
  }
})
</script>