<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%=link_to "Xerofit", admin_dashboard_path, class: "navbar-brand"%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="admin_li users">
          <%=link_to "Users", admin_users_path%>
        </li>
        <li class="admin_li library">
          <%=link_to "Libraries", libraries_path%>
        </li>
        <li class="admin_li workout">
          <%=link_to "Uncut Workouts", admin_dashboard_path%>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0)"><%=current_user.email%></a>
        </li>
        <li>
          <%=link_to destroy_user_session_path, :method => :delete do%>
            <strong>
              <i class="glyphicon glyphicon-off"></i>
            </strong>
          <%end%> 
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
