<div class="header_wrapper">
    <div class="head_lft">
    	<ul>
            <%if current_user && current_user.role == 'trainer'%>
                <li><%= link_to "Dashboard", dashboard_path %></li>
                <li><%= link_to "Library",  libraries_path %></li>
                <li><%= link_to "Workout Builder", new_workout_builder_path %></li>
            <% else %>
                <li><a href="#">Discover</a></li>
                <li><a href="#">How it Works</a></li>
            <%end%>
        </ul>
    </div>
    <div class="head_cent">
        <%=link_to home_index_path do%>
            <img src="/assets/logo.png" alt="Xero" width="66" height="36" border="0" />
        <%end%>
    </div>
    <div class="head_rht">
      <ul>
        <%if current_user %>
            <li><%=link_to "Logout", destroy_user_session_path, :method => :delete, :class=>"join"%></li>
        <%else%>
            <li><%=link_to "Login", new_user_session_path, :class=>"join"%></li>
            <li class="or">or</li>
            <li><%=link_to "Join",  combo_signup_path, :class=>"join" %></li>
        <%end%>

        </ul>
    </div>
</div>