<header class="topbar">
    <div class="container-fluid topbar-wrap">
        <div class="global-nav">
            <div class="dropdown">
                <a href="#" class="global_nav_toggle" data-toggle="dropdown"><%= change_menu_title(controller_name)%></a>

                <ul class="trainer-apps dropdown-menu dd_tip_left">
                    <li>
                        <a href="<%= trainer_dashboard_index_path %>" class="home">
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <a href="<%= libraries_path %>" class="fitness-library" data-no-turbolink="true">
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <a href="<%= new_workout_path %>" class="workout-builder" data-no-turbolink="true">
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <a href="<%= discover_path %>" class="discover" data-no-turbolink="true">
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://facebook.com/groups/xerofit.trainers.beta" class="support" data-no-turbolink="true">
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="performance">
                            <span></span>
                            <img class="coming-soon-banner" src="/assets/icons/coming_soon_banner.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="topbar_logo">
          <a id="xerofit_logo" href="/home"></a>
        </div>

        <div class="utility_menu">


            <%if current_user.admin?%>
                <div class="notification_dropdown dropdown">
                    <a href="#" class="notification_menu_toggle" data-toggle="dropdown"></a>
                    <ul class="notification_menu_dropdown dropdown-menu dd_tip_center">
                        <li><a href="#">No new notifications</a></li>
                    </ul>
                </div>
            <% end %>



            <div class="utility_dropdown dropdown">
                <a href="#" class="utility_menu_toggle" data-toggle="dropdown">
                    <% if current_user.pic.present?%>
                        <%= image_tag current_user.pic.url(:medium), class: "profile_image" %>
                    <% else %>
                        <img src="/assets/user_img.png" />
                    <% end %>
                    <span class="user_name"><%= current_user.fullname %></span>
                </a>
                <ul class="utility_menu_dropdown dropdown-menu dropdown-menu-right dd_tip_right">
                    <% if current_user.admin? %>
                        <li><a href="/settings" data-no-turbolink='true'>Settings</a></li>
                    <% end %>
                    <li><%=link_to "Signout", destroy_user_session_path, :method => :delete %></li>
                </ul>
            </div>
        </div>
    </div>
</header>