<%if action_name == "home"%>
	<header id="hero-img-home" class="hero-bg-flex">
        <%= render :partial => 'layouts/anon_hero_header' %>
        <%= render :partial => 'common_templates/home_section'%>
    </header>
    <%=yield%>
<%elsif action_name == "trainers"%>
    <header id="hero-img-trainers" class="hero-bg-flex ">
        <%= render :partial => 'layouts/anon_hero_header' %>
        <%=render "layouts/trainers_head"%>
    </header>
    <%=yield%>
<%elsif !current_user.present?%>
    <header id="hero-img-home" class="hero-bg-flex ">
        <%= render :partial => 'layouts/anon_hero_header' %>
        <%=yield%>
    </header>
<%else%>
    <div class="header_wrapper">
        <div class="home_nav">
            <a href="javascript:void(0)" class="home_toggle"><%= change_menu_title(controller_name)%></a>
            <div class="home_nav_toggle">
                <ul>
                    <li>
                    <a href="/dashboard/trainer"><img src="/assets/home_icon.png" alt="Home" />
                    Home</a> </li>
                    
                    <li>
                    <a href="/libraries"><img src="/assets/fitness_icon.png" alt="Home" />
                    Fitness Library</a> </li>
                    
                    <li>
                    <a href="/workouts/new"><img src="/assets/workout_icon.png" alt="Home" />
                    Workout Builder</a> </li>
                    <div class="clear"></div>
                    <li>
                    <a href="javascript:void(0)"><img src="/assets/support_icon.png" alt="Home" />
                    Support</a> </li>
                    
                    <li>
                    <a href="javascript:void(0)"><img src="/assets/performance_icon.png" alt="Home" />
                    Performance</a> </li>
                </ul>
            </div>
        </div>
        <div class="xerofit_logo">
            <a href="/dashboard/trainer"><img src="/assets/xerofit_logo.png" width="128" height="21" alt="Xerofit" /></a>
        </div>
        <div class="user_detail">
            <span class="notification_img">
                <img src="/assets/notification_icon.png" alt="notification" />
            </span>
            <span class="user_img">
                <%if current_user.pic.present?%>
                    <%= image_tag current_user.pic.url(:medium) %>
                <%else%>
                    <img src="/assets/user_img.png" alt="user" />
                <%end%>
            </span>
            <span class="user_name"><%= current_user.fullname %></span>
            <div class="signout_col">
                <ul>
                    <li><a href="/settings">Settings</a></li>
                    <li><%=link_to "Signout", destroy_user_session_path, :method => :delete %></li>
                </ul>
            </div>
        </div>
  </div>
    <%=yield%>
<%end%>