<!DOCTYPE html>
<html>
<head>
  <title>Xerofit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/636428/615064/css/fonts.css" />
  <%= javascript_include_tag "https://js.stripe.com/v1/" %>
  <%= javascript_include_tag "application", "/assets/plugins/jquery.dropkick.min", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "application","admin/application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render partial: 'layouts/admin_header' %>
  <%#= render "common_templates/feather_aviary" %>
	<div class="container">
		<div class="row">

			<%#= render partial: 'layouts/admin_menu' %>
      <%= yield %>
  	</div>
  </div>
  <script>
     //setTimeout(load_dropKick_js, 5000);    
  </script>
</body>
</html>



