<!DOCTYPE html>
<html>
<head>
  <title>Xerofit</title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
	<%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= csrf_meta_tags %>
</head>
		<% if @use_default_layout %>
  		<%= stylesheet_link_tag "css/application", media: "all", "data-turbolinks-track" => true %>
			<body class="home_bg size"> 
				<div id="page_wrapper">
			    	<%=render "layouts/header"%>
					<%= yield %>
					<%=render "layouts/footer"%>
				</div>
			</body>
		<% else %>
			<%= stylesheet_link_tag "admin/application", media: "all", "data-turbolinks-track" => true %>
			<body>
				<%= render partial: 'layouts/admin_header' %>
				<div class="container">
    			<div class="row">
						<%= render partial: 'layouts/admin_menu' %>
						<div class="col-md-9">
			        <%= yield %>
			        </br>
			        </br>
			        </div>
			      <% end %>
			    </div>
			  </div>
      </body>
</html>



